flows_raspberrypi.json
[
    {
        "id": "2de9a494ac1d6c71",
        "type": "tab",
        "label": "HVAC",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7d41aab9fd0b6a3e",
        "type": "tab",
        "label": "ESP32",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d02cf25fa8114475",
        "type": "tab",
        "label": "PV",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "13aa577370e4c4d7",
        "type": "tab",
        "label": "Logs/Notifications",
        "disabled": false,
        "info": ""
    },
    {
        "id": "536b0e9eda614fd2",
        "type": "tab",
        "label": "Zigbee",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "05e865126427c1f9",
        "type": "tab",
        "label": "Motion",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "67e1c6f6bd2fab57",
        "type": "tab",
        "label": "Sunrise/Sunset",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "86c7bfe22f048e9c",
        "type": "tab",
        "label": "Tasmota",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4289ddd18011b400",
        "type": "tab",
        "label": "Dogo",
        "disabled": true,
        "info": ""
    },
    {
        "id": "f1e538c1.0315f8",
        "type": "noraf-config",
        "name": "NORA",
        "group": "seceani",
        "twofactor": "off",
        "twofactorpin": "",
        "localexecution": true,
        "structure": "Seceani",
        "storeStateInContext": true,
        "disableValidationErrors": false,
        "sendDeviceNameAndLocation": false
    },
    {
        "id": "f569d34c.8c7ed",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "node-red",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "3302889fa9b7cb44",
        "type": "noraf-config",
        "name": "NORA - test",
        "group": "test",
        "twofactor": "off",
        "twofactorpin": "",
        "localexecution": true,
        "structure": "",
        "storeStateInContext": true,
        "disableValidationErrors": false,
        "sendDeviceNameAndLocation": false
    },
    {
        "id": "89e46ce21c7f5128",
        "type": "nibe-config",
        "name": "nibe config",
        "address": "tcp://192.168.68.6:0502",
        "registerFile": ""
    },
    {
        "id": "63bdbe3c09b491f2",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://homemedia.local:8086",
        "rejectUnauthorized": false
    },
    {
        "id": "50383ae4cbb82921",
        "type": "mpp-config",
        "name": "mpp serial",
        "path": "/dev/serial/by-id/usb-Prolific_Technology_Inc._USB-Serial_Controller_D-if00-port0"
    },
    {
        "id": "651eb38aa48c6e2a",
        "type": "nibe-register",
        "z": "2de9a494ac1d6c71",
        "name": "",
        "register": "Humidity (AZ30-BM20)",
        "nibe": "89e46ce21c7f5128",
        "interval": "300",
        "timeout": "5",
        "force": false,
        "topic": "",
        "filter": false,
        "x": 240,
        "y": 60,
        "wires": [
            [
                "1895125bc221a5c6"
            ]
        ]
    },
    {
        "id": "ed13633a52b01660",
        "type": "nibe-register",
        "z": "2de9a494ac1d6c71",
        "name": "",
        "register": "Increased ventilation 1",
        "nibe": "89e46ce21c7f5128",
        "interval": "5",
        "timeout": "5",
        "force": true,
        "topic": "ventilation-boost",
        "filter": true,
        "x": 240,
        "y": 200,
        "wires": [
            [
                "1cd1125ce32c5aca"
            ]
        ]
    },
    {
        "id": "27d499b6a6e0d7e5",
        "type": "nibe-register",
        "z": "2de9a494ac1d6c71",
        "name": "",
        "register": "Bypass during heating (ERS 1)",
        "nibe": "89e46ce21c7f5128",
        "interval": "300",
        "timeout": "5",
        "force": false,
        "topic": "",
        "filter": false,
        "x": 650,
        "y": 60,
        "wires": [
            [
                "5d3dfd6ae641f427"
            ]
        ]
    },
    {
        "id": "719187bb860811ae",
        "type": "nibe-register",
        "z": "2de9a494ac1d6c71",
        "name": "Fan speed (AZ30-GQ3)",
        "register": "40136",
        "nibe": "89e46ce21c7f5128",
        "interval": "60",
        "timeout": "5",
        "force": false,
        "topic": "ventilation/speed-gq3",
        "filter": false,
        "x": 930,
        "y": 760,
        "wires": [
            [
                "b3dde27634dd2e4c"
            ]
        ]
    },
    {
        "id": "975b4952ce9a0378",
        "type": "nibe-register",
        "z": "2de9a494ac1d6c71",
        "name": "Fan speed (AZ30-GQ2)",
        "register": "40135",
        "nibe": "89e46ce21c7f5128",
        "interval": "60",
        "timeout": "5",
        "force": false,
        "topic": "ventilation/speed-gq2",
        "filter": false,
        "x": 930,
        "y": 700,
        "wires": [
            [
                "b3dde27634dd2e4c"
            ]
        ]
    },
    {
        "id": "4b7ea65a94ecfaf3",
        "type": "nibe-register",
        "z": "2de9a494ac1d6c71",
        "name": "Living setpoint (heat)",
        "register": "id:12802",
        "nibe": "89e46ce21c7f5128",
        "interval": "20",
        "timeout": "5",
        "force": false,
        "topic": "living/setpointLow",
        "filter": true,
        "x": 240,
        "y": 320,
        "wires": [
            [
                "34e4236db446efad"
            ]
        ]
    },
    {
        "id": "8a2d91b19d4ef994",
        "type": "nibe-register",
        "z": "2de9a494ac1d6c71",
        "name": "Bedroom setpoint (heat)",
        "register": "id:12803",
        "nibe": "89e46ce21c7f5128",
        "interval": "20",
        "timeout": "5",
        "force": false,
        "topic": "bedroom/setpointLow",
        "filter": true,
        "x": 250,
        "y": 440,
        "wires": [
            [
                "34e4236db446efad"
            ]
        ]
    },
    {
        "id": "aa438942649ecf58",
        "type": "nibe-register",
        "z": "2de9a494ac1d6c71",
        "name": "Living temp.",
        "register": "Roomsensor 2-1",
        "nibe": "89e46ce21c7f5128",
        "interval": "60",
        "timeout": "5",
        "force": false,
        "topic": "living/temperature",
        "filter": false,
        "x": 590,
        "y": 380,
        "wires": [
            [
                "69a2359c3bf3f716"
            ]
        ]
    },
    {
        "id": "99b78cb07dd4c043",
        "type": "nibe-register",
        "z": "2de9a494ac1d6c71",
        "name": "More hot water",
        "register": "30697",
        "nibe": "89e46ce21c7f5128",
        "interval": "5",
        "timeout": "5",
        "force": true,
        "topic": "more-hot-water",
        "filter": true,
        "x": 220,
        "y": 260,
        "wires": [
            [
                "1cd1125ce32c5aca"
            ]
        ]
    },
    {
        "id": "1895125bc221a5c6",
        "type": "function",
        "z": "2de9a494ac1d6c71",
        "name": "decide",
        "func": "const humidity = msg.payload.value;\nif (humidity < 0 || humidity > 100) {\n    return;\n}\n\nconst stopRecovery = flow.get('bypass_recovery') === 1;\nconst target = 45;\nconst histerezis = 2;\nconst compareTo = target + (stopRecovery ? -1 : 1) * histerezis;\nconst shouldStopRecovery = humidity >= compareTo;\n\nnode.status({\n    fill: shouldStopRecovery ? 'red' : \"blue\",\n    shape: \"dot\",\n    text: `recovery ${shouldStopRecovery ? 'off' : 'on'}`,\n});\n\nreturn {\n    payload: shouldStopRecovery ? 1 : 0,\n};\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 60,
        "wires": [
            [
                "27d499b6a6e0d7e5"
            ]
        ]
    },
    {
        "id": "46b0b3fc4d086f1e",
        "type": "noraf-switch",
        "z": "2de9a494ac1d6c71",
        "devicename": "Ventilation Boost",
        "roomhint": "Service Room",
        "name": "",
        "passthru": false,
        "errorifstateunchaged": false,
        "nora": "f1e538c1.0315f8",
        "topic": "ventilation-boost",
        "onvalue": "1",
        "onvalueType": "num",
        "offvalue": "0",
        "offvalueType": "num",
        "twofactor": "ack",
        "twofactorpin": "",
        "filter": true,
        "asyncCmd": false,
        "outputs": 1,
        "x": 610,
        "y": 200,
        "wires": [
            [
                "660188df0186d9af"
            ]
        ]
    },
    {
        "id": "1cd1125ce32c5aca",
        "type": "function",
        "z": "2de9a494ac1d6c71",
        "name": "map",
        "func": "return {\n    payload: msg.payload.value,\n    topic: msg.topic,\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 240,
        "wires": [
            [
                "46b0b3fc4d086f1e",
                "f07580f20f9c8e5f"
            ]
        ]
    },
    {
        "id": "f07580f20f9c8e5f",
        "type": "noraf-switch",
        "z": "2de9a494ac1d6c71",
        "devicename": "More hot water",
        "roomhint": "Service Room",
        "name": "",
        "passthru": false,
        "errorifstateunchaged": false,
        "nora": "f1e538c1.0315f8",
        "topic": "more-hot-water",
        "onvalue": "1",
        "onvalueType": "num",
        "offvalue": "0",
        "offvalueType": "num",
        "twofactor": "ack",
        "twofactorpin": "",
        "filter": true,
        "asyncCmd": false,
        "outputs": 1,
        "x": 600,
        "y": 260,
        "wires": [
            [
                "660188df0186d9af"
            ]
        ]
    },
    {
        "id": "9f8ecdb12e5082f5",
        "type": "link in",
        "z": "2de9a494ac1d6c71",
        "name": "link in 8",
        "links": [
            "660188df0186d9af"
        ],
        "x": 75,
        "y": 200,
        "wires": [
            [
                "ed13633a52b01660",
                "99b78cb07dd4c043",
                "8c036ed2e6442271"
            ]
        ]
    },
    {
        "id": "660188df0186d9af",
        "type": "link out",
        "z": "2de9a494ac1d6c71",
        "name": "link out 6",
        "mode": "link",
        "links": [
            "9f8ecdb12e5082f5"
        ],
        "x": 765,
        "y": 200,
        "wires": []
    },
    {
        "id": "df27d4e5b15bc14e",
        "type": "trigger",
        "z": "2de9a494ac1d6c71",
        "name": "",
        "op1": "{\"value\":true}",
        "op2": "{\"value\":false}",
        "op1type": "json",
        "op2type": "json",
        "duration": "30",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 490,
        "y": 500,
        "wires": [
            [
                "3760822f76a88122"
            ]
        ]
    },
    {
        "id": "015082b95c8d867b",
        "type": "nibe-register",
        "z": "2de9a494ac1d6c71",
        "name": "Living setpoint (cool)",
        "register": "id:12842",
        "nibe": "89e46ce21c7f5128",
        "interval": "20",
        "timeout": "5",
        "force": false,
        "topic": "living/setpointHigh",
        "filter": true,
        "x": 240,
        "y": 380,
        "wires": [
            [
                "34e4236db446efad"
            ]
        ]
    },
    {
        "id": "f259002bf50c8663",
        "type": "nibe-register",
        "z": "2de9a494ac1d6c71",
        "name": "Bedroom setpoint (cool)",
        "register": "id:12843",
        "nibe": "89e46ce21c7f5128",
        "interval": "20",
        "timeout": "5",
        "force": false,
        "topic": "bedroom/setpointHigh",
        "filter": true,
        "x": 250,
        "y": 500,
        "wires": [
            [
                "df27d4e5b15bc14e",
                "34e4236db446efad"
            ]
        ]
    },
    {
        "id": "e56377cc659b2c95",
        "type": "noraf-thermostat",
        "z": "2de9a494ac1d6c71",
        "devicename": "Thermostat",
        "roomhint": "Living Room",
        "name": "living",
        "modes": "off,heatcool",
        "unit": "C",
        "rangeMin": "19",
        "rangeMax": "27",
        "topic": "living",
        "passthru": false,
        "commandOnly": false,
        "queryOnly": false,
        "bufferRangeCelsius": "1",
        "nora": "f1e538c1.0315f8",
        "twofactor": "off",
        "twofactorpin": "",
        "filter": true,
        "x": 330,
        "y": 560,
        "wires": [
            [
                "a5df44a963725282"
            ]
        ]
    },
    {
        "id": "da510ff457d3be7d",
        "type": "nibe-register",
        "z": "2de9a494ac1d6c71",
        "name": "",
        "register": "Humidity (AZ30-BM20)",
        "nibe": "89e46ce21c7f5128",
        "interval": "300",
        "timeout": "5",
        "force": false,
        "topic": "humidity",
        "filter": false,
        "x": 620,
        "y": 320,
        "wires": [
            [
                "69a2359c3bf3f716"
            ]
        ]
    },
    {
        "id": "25ecd6270bd33719",
        "type": "function",
        "z": "2de9a494ac1d6c71",
        "name": "th.in",
        "func": "if (msg.payload.value < -300) {\n    return;\n}\n\nconst parts = msg.topic.split('/');\nconst rooms = parts.length === 2\n    ? [parts[0]]\n    : (context.keys() ?? []);\nconst prop = parts[parts.length - 1];\n\nconst msgs = rooms.map(room => {\n    const state = {\n        ...(context.get(room) ?? {}),\n        mode: 'heatcool',\n        activeMode: 'cool',\n    };\n    state[prop] = msg.payload.value;\n    context.set(room, state);\n    return { topic: room, payload: state };\n});\n\nreturn [msgs];\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 190,
        "y": 560,
        "wires": [
            [
                "e56377cc659b2c95",
                "b7cb59e0445cf704"
            ]
        ]
    },
    {
        "id": "b7cb59e0445cf704",
        "type": "noraf-thermostat",
        "z": "2de9a494ac1d6c71",
        "devicename": "Thermostat",
        "roomhint": "Office",
        "name": "bedroom",
        "modes": "off,heatcool",
        "unit": "C",
        "rangeMin": "19",
        "rangeMax": "27",
        "topic": "bedroom",
        "passthru": false,
        "commandOnly": false,
        "queryOnly": false,
        "bufferRangeCelsius": "1",
        "nora": "f1e538c1.0315f8",
        "twofactor": "off",
        "twofactorpin": "",
        "filter": true,
        "x": 340,
        "y": 620,
        "wires": [
            [
                "a5df44a963725282"
            ]
        ]
    },
    {
        "id": "a5df44a963725282",
        "type": "function",
        "z": "2de9a494ac1d6c71",
        "name": "th.out",
        "func": "const propsToCopy = ['setpointLow', 'setpointHigh'];\nconst messages = propsToCopy.map(key => ({\n    topic: `${msg.topic}/${key}`,\n    payload: msg.payload[key],\n}));\nreturn [messages]",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 560,
        "wires": [
            [
                "847b62e1d562ef8b"
            ]
        ]
    },
    {
        "id": "61d8d50274c6ed71",
        "type": "link out",
        "z": "2de9a494ac1d6c71",
        "name": "link out 8",
        "mode": "link",
        "links": [
            "50badacef6b71f47"
        ],
        "x": 745,
        "y": 560,
        "wires": []
    },
    {
        "id": "50badacef6b71f47",
        "type": "link in",
        "z": "2de9a494ac1d6c71",
        "name": "link in 10",
        "links": [
            "61d8d50274c6ed71"
        ],
        "x": 75,
        "y": 320,
        "wires": [
            [
                "8a2d91b19d4ef994",
                "f259002bf50c8663",
                "4b7ea65a94ecfaf3",
                "015082b95c8d867b"
            ]
        ]
    },
    {
        "id": "e12aab3001f9c07c",
        "type": "nibe-register",
        "z": "2de9a494ac1d6c71",
        "name": "Bedroom temp.",
        "register": "Roomsensor 3-1",
        "nibe": "89e46ce21c7f5128",
        "interval": "60",
        "timeout": "5",
        "force": false,
        "topic": "bedroom/temperature",
        "filter": false,
        "x": 600,
        "y": 440,
        "wires": [
            [
                "69a2359c3bf3f716"
            ]
        ]
    },
    {
        "id": "3760822f76a88122",
        "type": "function",
        "z": "2de9a494ac1d6c71",
        "name": "online",
        "func": "return {\n    ...msg,\n    topic: 'online',\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 500,
        "wires": [
            [
                "e41d6b0ea38ad5e3"
            ]
        ]
    },
    {
        "id": "847b62e1d562ef8b",
        "type": "rbe",
        "z": "2de9a494ac1d6c71",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 650,
        "y": 560,
        "wires": [
            [
                "61d8d50274c6ed71"
            ]
        ]
    },
    {
        "id": "9d978d4c29e3fede",
        "type": "influxdb out",
        "z": "2de9a494ac1d6c71",
        "influxdb": "63bdbe3c09b491f2",
        "name": "",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "home",
        "bucket": "home",
        "x": 380,
        "y": 1000,
        "wires": []
    },
    {
        "id": "dc49bf19798833ec",
        "type": "function",
        "z": "2de9a494ac1d6c71",
        "name": "map",
        "func": "if (msg.payload.value < -300) {\n    return;\n}\n\nconst parts = msg.topic.split('/');\nconst measurement = parts[0];\nconst payload = parts.length === 1\n    ? msg.payload.value\n    : { [parts[1]]: msg.payload.value }\n\nreturn {\n    payload,\n    measurement,\n};\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 170,
        "y": 1000,
        "wires": [
            [
                "9d978d4c29e3fede"
            ]
        ]
    },
    {
        "id": "f0ba748f1ac0e5cb",
        "type": "nibe-register",
        "z": "2de9a494ac1d6c71",
        "name": "",
        "register": "Current outdoor temperature (BT1)",
        "nibe": "89e46ce21c7f5128",
        "interval": "60",
        "timeout": "5",
        "force": false,
        "topic": "outdoor/temperature-bt1",
        "filter": true,
        "x": 220,
        "y": 700,
        "wires": [
            [
                "7ca97a871eef0253"
            ]
        ]
    },
    {
        "id": "3a75e22cbaeb5f90",
        "type": "function",
        "z": "2de9a494ac1d6c71",
        "name": "map",
        "func": "if (msg.payload.value < -300) {\n    return;\n}\n\nconst [measurement, valueName] = msg.topic.split('/');\nreturn {\n    payload: { [valueName]: msg.payload.value },\n    measurement,\n};\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 170,
        "y": 1040,
        "wires": [
            [
                "192c99f16f9eaaee"
            ]
        ]
    },
    {
        "id": "192c99f16f9eaaee",
        "type": "influxdb out",
        "z": "2de9a494ac1d6c71",
        "influxdb": "63bdbe3c09b491f2",
        "name": "",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "home",
        "bucket": "nibe",
        "x": 380,
        "y": 1040,
        "wires": []
    },
    {
        "id": "b24637742b59a545",
        "type": "nibe-register",
        "z": "2de9a494ac1d6c71",
        "name": "",
        "register": "Supply line (BT2)",
        "nibe": "89e46ce21c7f5128",
        "interval": "60",
        "timeout": "5",
        "force": false,
        "topic": "line/supply-bt2",
        "filter": true,
        "x": 170,
        "y": 760,
        "wires": [
            [
                "7ca97a871eef0253"
            ]
        ]
    },
    {
        "id": "031d282094febaef",
        "type": "nibe-register",
        "z": "2de9a494ac1d6c71",
        "name": "",
        "register": "Return line (BT3)",
        "nibe": "89e46ce21c7f5128",
        "interval": "60",
        "timeout": "5",
        "force": false,
        "topic": "line/return-bt3",
        "filter": true,
        "x": 170,
        "y": 820,
        "wires": [
            [
                "7ca97a871eef0253"
            ]
        ]
    },
    {
        "id": "dd47cceaba61a5f7",
        "type": "nibe-register",
        "z": "2de9a494ac1d6c71",
        "name": "",
        "register": "Supp. air (AZ30-BT22)",
        "nibe": "89e46ce21c7f5128",
        "interval": "60",
        "timeout": "5",
        "force": false,
        "topic": "ventilation/supp-air-temperature-bt22",
        "filter": true,
        "x": 560,
        "y": 760,
        "wires": [
            [
                "772ab499b9243a81"
            ]
        ]
    },
    {
        "id": "996240fd23d720a0",
        "type": "nibe-register",
        "z": "2de9a494ac1d6c71",
        "name": "",
        "register": "Outd temperature (AZ30-BT23)",
        "nibe": "89e46ce21c7f5128",
        "interval": "60",
        "timeout": "5",
        "force": false,
        "topic": "ventilation/outdoor-temperature-bt23",
        "filter": true,
        "x": 590,
        "y": 700,
        "wires": [
            [
                "772ab499b9243a81"
            ]
        ]
    },
    {
        "id": "5ec95ea45d80a286",
        "type": "nibe-register",
        "z": "2de9a494ac1d6c71",
        "name": "",
        "register": "Extr. air (AZ30-BT21)",
        "nibe": "89e46ce21c7f5128",
        "interval": "60",
        "timeout": "5",
        "force": false,
        "topic": "ventilation/extract-air-temp-bt21",
        "filter": true,
        "x": 560,
        "y": 820,
        "wires": [
            [
                "772ab499b9243a81"
            ]
        ]
    },
    {
        "id": "63ba0783caa8bb63",
        "type": "nibe-register",
        "z": "2de9a494ac1d6c71",
        "name": "",
        "register": "Exh. air (AZ30-BT20)",
        "nibe": "89e46ce21c7f5128",
        "interval": "60",
        "timeout": "5",
        "force": false,
        "topic": "ventilation/exhaust-air-temp-bt20",
        "filter": true,
        "x": 560,
        "y": 880,
        "wires": [
            [
                "772ab499b9243a81"
            ]
        ]
    },
    {
        "id": "890018e7cbc90cd7",
        "type": "nibe-register",
        "z": "2de9a494ac1d6c71",
        "name": "",
        "register": "Priority",
        "nibe": "89e46ce21c7f5128",
        "interval": "60",
        "timeout": "5",
        "force": false,
        "topic": "operation/priority",
        "filter": false,
        "x": 880,
        "y": 820,
        "wires": [
            [
                "6c724be7f6fd897c"
            ]
        ]
    },
    {
        "id": "6c724be7f6fd897c",
        "type": "function",
        "z": "2de9a494ac1d6c71",
        "name": "Priority",
        "func": "const map = {\n    '10': 'off',\n    '20': 'hotwater',\n    '30': 'heat',\n    '40': 'pool',\n    '60': 'cooling',\n};\n\nnode.status({ fill: \"blue\", shape: \"dot\", text: map[msg.payload.value] });\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 820,
        "wires": [
            [
                "b3dde27634dd2e4c"
            ]
        ]
    },
    {
        "id": "52532f840d2ce09f",
        "type": "nibe-register",
        "z": "2de9a494ac1d6c71",
        "name": "",
        "register": "Brine in (BT10)",
        "nibe": "89e46ce21c7f5128",
        "interval": "60",
        "timeout": "5",
        "force": false,
        "topic": "brine/in-bt10",
        "filter": false,
        "x": 900,
        "y": 880,
        "wires": [
            [
                "b3dde27634dd2e4c"
            ]
        ]
    },
    {
        "id": "31b0c9a4bf89bbab",
        "type": "nibe-register",
        "z": "2de9a494ac1d6c71",
        "name": "",
        "register": "Brine out (BT11)",
        "nibe": "89e46ce21c7f5128",
        "interval": "60",
        "timeout": "5",
        "force": false,
        "topic": "brine/out-bt11",
        "filter": false,
        "x": 900,
        "y": 940,
        "wires": [
            [
                "b3dde27634dd2e4c"
            ]
        ]
    },
    {
        "id": "732ffd78751c6902",
        "type": "nibe-register",
        "z": "2de9a494ac1d6c71",
        "name": "",
        "register": "Ventilation mode",
        "nibe": "89e46ce21c7f5128",
        "interval": "60",
        "timeout": "5",
        "force": false,
        "topic": "ventilation/mode",
        "filter": false,
        "x": 550,
        "y": 940,
        "wires": [
            [
                "772ab499b9243a81"
            ]
        ]
    },
    {
        "id": "8c036ed2e6442271",
        "type": "nibe-register",
        "z": "2de9a494ac1d6c71",
        "name": "",
        "register": "Ventilation mode",
        "nibe": "89e46ce21c7f5128",
        "interval": "5",
        "timeout": "5",
        "force": false,
        "topic": "ventilation-mode",
        "filter": true,
        "x": 230,
        "y": 140,
        "wires": [
            [
                "7e80dd6fcb41cdda"
            ]
        ]
    },
    {
        "id": "7e80dd6fcb41cdda",
        "type": "function",
        "z": "2de9a494ac1d6c71",
        "name": "map",
        "func": "node.status({ fill: \"blue\", text: `${msg.payload.value} - ${status()}` });\n\nreturn {\n    payload: msg.payload.value === 1 ? 1 : 0,\n    topic: msg.topic,\n};\n\nfunction status() {\n    switch (msg.payload.value) {\n        case 0: return 'normal';\n        case 1: return 'off';\n        case 2: return 'low';\n        case 3: return 'high';\n        case 4: return 'boost';\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 140,
        "wires": [
            [
                "f0a4665aecc7e7e1"
            ]
        ]
    },
    {
        "id": "f0a4665aecc7e7e1",
        "type": "noraf-switch",
        "z": "2de9a494ac1d6c71",
        "devicename": "Ventilation",
        "roomhint": "Service Room",
        "name": "",
        "passthru": false,
        "errorifstateunchaged": false,
        "nora": "f1e538c1.0315f8",
        "topic": "ventilation-mode",
        "onvalue": "0",
        "onvalueType": "num",
        "offvalue": "1",
        "offvalueType": "num",
        "twofactor": "ack",
        "twofactorpin": "",
        "filter": true,
        "asyncCmd": false,
        "outputs": 1,
        "x": 590,
        "y": 140,
        "wires": [
            [
                "660188df0186d9af"
            ]
        ]
    },
    {
        "id": "5d3dfd6ae641f427",
        "type": "function",
        "z": "2de9a494ac1d6c71",
        "name": "set flow.bypass_recovery",
        "func": "const oldValue = flow.get('bypass_recovery');\nconst newValue = msg.payload.value;\nif (newValue !== oldValue) {\n    flow.set('bypass_recovery', newValue);\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "7b6e8ee91a219ed4",
        "type": "nibe-register",
        "z": "2de9a494ac1d6c71",
        "name": "",
        "register": "Hot water charging (BT6)",
        "nibe": "89e46ce21c7f5128",
        "interval": "60",
        "timeout": "5",
        "force": false,
        "topic": "hot-water/charging-bt6",
        "filter": false,
        "x": 190,
        "y": 880,
        "wires": [
            [
                "7ca97a871eef0253"
            ]
        ]
    },
    {
        "id": "3b13ed9084ac3922",
        "type": "link in",
        "z": "2de9a494ac1d6c71",
        "name": "link in 19",
        "links": [
            "69a2359c3bf3f716",
            "34e4236db446efad"
        ],
        "x": 85,
        "y": 1000,
        "wires": [
            [
                "dc49bf19798833ec"
            ]
        ]
    },
    {
        "id": "69a2359c3bf3f716",
        "type": "link out",
        "z": "2de9a494ac1d6c71",
        "name": "link out 17",
        "mode": "link",
        "links": [
            "3b13ed9084ac3922",
            "ceabaec499757bb4"
        ],
        "x": 785,
        "y": 320,
        "wires": []
    },
    {
        "id": "ceabaec499757bb4",
        "type": "link in",
        "z": "2de9a494ac1d6c71",
        "name": "link in 20",
        "links": [
            "69a2359c3bf3f716",
            "e41d6b0ea38ad5e3",
            "34e4236db446efad"
        ],
        "x": 85,
        "y": 560,
        "wires": [
            [
                "25ecd6270bd33719"
            ]
        ]
    },
    {
        "id": "e41d6b0ea38ad5e3",
        "type": "link out",
        "z": "2de9a494ac1d6c71",
        "name": "link out 18",
        "mode": "link",
        "links": [
            "ceabaec499757bb4"
        ],
        "x": 745,
        "y": 500,
        "wires": []
    },
    {
        "id": "34e4236db446efad",
        "type": "link out",
        "z": "2de9a494ac1d6c71",
        "name": "link out 19",
        "mode": "link",
        "links": [
            "3b13ed9084ac3922",
            "ceabaec499757bb4"
        ],
        "x": 425,
        "y": 320,
        "wires": []
    },
    {
        "id": "7ca97a871eef0253",
        "type": "link out",
        "z": "2de9a494ac1d6c71",
        "name": "link out 20",
        "mode": "link",
        "links": [
            "9443fc43a7aab52a",
            "47ae0eea20515ee1"
        ],
        "x": 415,
        "y": 700,
        "wires": []
    },
    {
        "id": "9443fc43a7aab52a",
        "type": "link in",
        "z": "2de9a494ac1d6c71",
        "name": "link in 21",
        "links": [
            "7ca97a871eef0253",
            "772ab499b9243a81",
            "b3dde27634dd2e4c"
        ],
        "x": 85,
        "y": 1040,
        "wires": [
            [
                "3a75e22cbaeb5f90"
            ]
        ]
    },
    {
        "id": "772ab499b9243a81",
        "type": "link out",
        "z": "2de9a494ac1d6c71",
        "name": "link out 21",
        "mode": "link",
        "links": [
            "9443fc43a7aab52a",
            "47ae0eea20515ee1"
        ],
        "x": 775,
        "y": 700,
        "wires": []
    },
    {
        "id": "b3dde27634dd2e4c",
        "type": "link out",
        "z": "2de9a494ac1d6c71",
        "name": "link out 22",
        "mode": "link",
        "links": [
            "9443fc43a7aab52a",
            "47ae0eea20515ee1"
        ],
        "x": 1145,
        "y": 700,
        "wires": []
    },
    {
        "id": "5bb98af947157223",
        "type": "node-espota",
        "z": "7d41aab9fd0b6a3e",
        "firmwareLink": "https://github.com/andrei-tatar/ha-wifi-switch/releases/latest/download/ha_switch_esp32.bin",
        "extractHost": "^ha-switch/(.+)/version$",
        "excludeHost": "switch-dimmer-8",
        "name": "",
        "x": 330,
        "y": 60,
        "wires": []
    },
    {
        "id": "f2dddb9e4756a85a",
        "type": "mqtt in",
        "z": "7d41aab9fd0b6a3e",
        "name": "",
        "topic": "ha-switch/+/version",
        "qos": "0",
        "datatype": "utf8",
        "broker": "f569d34c.8c7ed",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 100,
        "wires": [
            [
                "5bb98af947157223"
            ]
        ]
    },
    {
        "id": "b5f045d301d04cf3",
        "type": "inject",
        "z": "7d41aab9fd0b6a3e",
        "name": "UPDATE",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "update",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 60,
        "wires": [
            [
                "5bb98af947157223"
            ]
        ]
    },
    {
        "id": "f648133e35429919",
        "type": "noraf-light",
        "z": "7d41aab9fd0b6a3e",
        "devicename": "Main",
        "lightcolor": false,
        "brightnesscontrol": true,
        "commandonlycolor": false,
        "turnonwhenbrightnesschanges": true,
        "passthru": false,
        "errorifstateunchaged": false,
        "statepayload": true,
        "brightnessoverride": "",
        "roomhint": "Hallway",
        "name": "3. hallway - main",
        "colortype": "hsv",
        "nora": "f1e538c1.0315f8",
        "topic": "ha-switch/switch-dimmer-3/state",
        "onvalue": "true",
        "onvalueType": "bool",
        "offvalue": "false",
        "offvalueType": "bool",
        "temperaturemin": "2700",
        "temperaturemax": "5500",
        "twofactor": "off",
        "twofactorpin": "",
        "filter": true,
        "x": 750,
        "y": 200,
        "wires": [
            [
                "6af1216eb7c5c03f"
            ]
        ]
    },
    {
        "id": "8521a26270a7f5ed",
        "type": "noraf-light",
        "z": "7d41aab9fd0b6a3e",
        "devicename": "Dining",
        "lightcolor": false,
        "brightnesscontrol": true,
        "commandonlycolor": false,
        "turnonwhenbrightnesschanges": true,
        "passthru": false,
        "errorifstateunchaged": false,
        "statepayload": true,
        "brightnessoverride": "",
        "roomhint": "Living Room",
        "name": "12. living - dining",
        "colortype": "hsv",
        "nora": "f1e538c1.0315f8",
        "topic": "ha-switch/switch-dimmer-12/state",
        "onvalue": "true",
        "onvalueType": "bool",
        "offvalue": "false",
        "offvalueType": "bool",
        "temperaturemin": "2700",
        "temperaturemax": "5500",
        "twofactor": "off",
        "twofactorpin": "",
        "filter": true,
        "x": 750,
        "y": 380,
        "wires": [
            [
                "6af1216eb7c5c03f"
            ]
        ]
    },
    {
        "id": "d2f287de8e2b7bdb",
        "type": "noraf-light",
        "z": "7d41aab9fd0b6a3e",
        "devicename": "Yard",
        "lightcolor": false,
        "brightnesscontrol": true,
        "commandonlycolor": false,
        "turnonwhenbrightnesschanges": true,
        "passthru": false,
        "errorifstateunchaged": false,
        "statepayload": true,
        "brightnessoverride": "",
        "roomhint": "Outside",
        "name": "11. outside - yard",
        "colortype": "hsv",
        "nora": "f1e538c1.0315f8",
        "topic": "ha-switch/switch-dimmer-11/state",
        "onvalue": "true",
        "onvalueType": "bool",
        "offvalue": "false",
        "offvalueType": "bool",
        "temperaturemin": "2700",
        "temperaturemax": "5500",
        "twofactor": "off",
        "twofactorpin": "",
        "filter": true,
        "x": 750,
        "y": 440,
        "wires": [
            [
                "6af1216eb7c5c03f"
            ]
        ]
    },
    {
        "id": "b7b0b4d5c552d29a",
        "type": "noraf-light",
        "z": "7d41aab9fd0b6a3e",
        "devicename": "Light",
        "lightcolor": false,
        "brightnesscontrol": true,
        "commandonlycolor": false,
        "turnonwhenbrightnesschanges": true,
        "passthru": false,
        "errorifstateunchaged": false,
        "statepayload": true,
        "brightnessoverride": "",
        "roomhint": "Bedroom",
        "name": "2. big bedroom",
        "colortype": "hsv",
        "nora": "f1e538c1.0315f8",
        "topic": "ha-switch/switch-dimmer-2/state",
        "onvalue": "true",
        "onvalueType": "bool",
        "offvalue": "false",
        "offvalueType": "bool",
        "temperaturemin": "2700",
        "temperaturemax": "5500",
        "twofactor": "off",
        "twofactorpin": "",
        "filter": true,
        "x": 1140,
        "y": 200,
        "wires": [
            [
                "769bb33f49f1c02b"
            ]
        ]
    },
    {
        "id": "645b5b8f07f055fc",
        "type": "noraf-openclose",
        "z": "7d41aab9fd0b6a3e",
        "devicename": "Shutters",
        "roomhint": "Bedroom",
        "name": "3. big bedroom",
        "directions": "",
        "openclosetype": "SHUTTER",
        "passthru": false,
        "errorifstateunchaged": false,
        "discrete": false,
        "lockunlock": false,
        "commandonly": false,
        "queryonly": false,
        "nora": "f1e538c1.0315f8",
        "topic": "ha-switch/switch-blinds-3/state",
        "openvalue": "true",
        "openvalueType": "bool",
        "closevalue": "false",
        "closevalueType": "bool",
        "twofactor": "off",
        "twofactorpin": "",
        "filter": true,
        "x": 740,
        "y": 840,
        "wires": [
            [
                "c78bcabe4f6f913b"
            ]
        ]
    },
    {
        "id": "8ad4a13f3069f1ac",
        "type": "function",
        "z": "7d41aab9fd0b6a3e",
        "name": "blinds.out",
        "func": "return {\n    payload: {\n        openPercent: msg.payload.open,\n    },\n    topic: msg.topic,\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 320,
        "wires": [
            [
                "43ff6ea09782443a"
            ]
        ]
    },
    {
        "id": "b18a911a13f74c55",
        "type": "function",
        "z": "7d41aab9fd0b6a3e",
        "name": "dimmers.in",
        "func": "if (msg.topic.startsWith('ha-switch/switch-dimmer-'))\n    return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 170,
        "y": 240,
        "wires": [
            [
                "8775f81eb190b655"
            ]
        ]
    },
    {
        "id": "821e92a25e3b217f",
        "type": "function",
        "z": "7d41aab9fd0b6a3e",
        "name": "blinds.in",
        "func": "if (msg.topic.startsWith('ha-switch/switch-blinds-')) {\n    return {\n        payload: {\n            open: msg.payload.openPercent,\n            online: msg.payload.online,\n        },\n        topic: msg.topic,\n    };\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 160,
        "y": 320,
        "wires": [
            [
                "99f8a5fa2751fc29"
            ]
        ]
    },
    {
        "id": "dc8db494b158e485",
        "type": "noraf-openclose",
        "z": "7d41aab9fd0b6a3e",
        "devicename": "Shutters",
        "roomhint": "Office",
        "name": "5. office",
        "directions": "",
        "openclosetype": "SHUTTER",
        "passthru": false,
        "errorifstateunchaged": false,
        "discrete": false,
        "lockunlock": false,
        "commandonly": false,
        "queryonly": false,
        "nora": "f1e538c1.0315f8",
        "topic": "ha-switch/switch-blinds-5/state",
        "openvalue": "true",
        "openvalueType": "bool",
        "closevalue": "false",
        "closevalueType": "bool",
        "twofactor": "off",
        "twofactorpin": "",
        "filter": true,
        "x": 720,
        "y": 900,
        "wires": [
            [
                "c78bcabe4f6f913b"
            ]
        ]
    },
    {
        "id": "917568c1def8a578",
        "type": "noraf-light",
        "z": "7d41aab9fd0b6a3e",
        "devicename": "Light",
        "lightcolor": false,
        "brightnesscontrol": true,
        "commandonlycolor": false,
        "turnonwhenbrightnesschanges": true,
        "passthru": false,
        "errorifstateunchaged": false,
        "statepayload": true,
        "brightnessoverride": "",
        "roomhint": "Office",
        "name": "8. office",
        "colortype": "hsv",
        "nora": "f1e538c1.0315f8",
        "topic": "ha-switch/switch-dimmer-8/state",
        "onvalue": "true",
        "onvalueType": "bool",
        "offvalue": "false",
        "offvalueType": "bool",
        "temperaturemin": "2700",
        "temperaturemax": "5500",
        "twofactor": "off",
        "twofactorpin": "",
        "filter": true,
        "x": 1120,
        "y": 320,
        "wires": [
            [
                "769bb33f49f1c02b"
            ]
        ]
    },
    {
        "id": "0450c2ce91a72b78",
        "type": "noraf-light",
        "z": "7d41aab9fd0b6a3e",
        "devicename": "TV Light",
        "lightcolor": false,
        "brightnesscontrol": true,
        "commandonlycolor": false,
        "turnonwhenbrightnesschanges": true,
        "passthru": false,
        "errorifstateunchaged": false,
        "statepayload": true,
        "brightnessoverride": "",
        "roomhint": "Living Room",
        "name": "4. living - main",
        "colortype": "hsv",
        "nora": "f1e538c1.0315f8",
        "topic": "ha-switch/switch-dimmer-4/state",
        "onvalue": "true",
        "onvalueType": "bool",
        "offvalue": "false",
        "offvalueType": "bool",
        "temperaturemin": "2700",
        "temperaturemax": "5500",
        "twofactor": "off",
        "twofactorpin": "",
        "filter": true,
        "x": 740,
        "y": 320,
        "wires": [
            [
                "6af1216eb7c5c03f"
            ]
        ]
    },
    {
        "id": "dfc52bfc266069f0",
        "type": "noraf-light",
        "z": "7d41aab9fd0b6a3e",
        "devicename": "Light",
        "lightcolor": false,
        "brightnesscontrol": true,
        "commandonlycolor": false,
        "turnonwhenbrightnesschanges": true,
        "passthru": false,
        "errorifstateunchaged": false,
        "statepayload": true,
        "brightnessoverride": "",
        "roomhint": "Kitchen",
        "name": "7. kitchen",
        "colortype": "hsv",
        "nora": "f1e538c1.0315f8",
        "topic": "ha-switch/switch-dimmer-7/state",
        "onvalue": "true",
        "onvalueType": "bool",
        "offvalue": "false",
        "offvalueType": "bool",
        "temperaturemin": "2700",
        "temperaturemax": "5500",
        "twofactor": "off",
        "twofactorpin": "",
        "filter": true,
        "x": 1120,
        "y": 380,
        "wires": [
            [
                "769bb33f49f1c02b"
            ]
        ]
    },
    {
        "id": "7426cbb773e5162c",
        "type": "noraf-openclose",
        "z": "7d41aab9fd0b6a3e",
        "devicename": "Door Shutters",
        "roomhint": "Living Room",
        "name": "4. living - door",
        "directions": "",
        "openclosetype": "SHUTTER",
        "passthru": false,
        "errorifstateunchaged": false,
        "discrete": false,
        "lockunlock": false,
        "commandonly": false,
        "queryonly": false,
        "nora": "f1e538c1.0315f8",
        "topic": "ha-switch/switch-blinds-4/state",
        "openvalue": "true",
        "openvalueType": "bool",
        "closevalue": "false",
        "closevalueType": "bool",
        "twofactor": "off",
        "twofactorpin": "",
        "filter": true,
        "x": 740,
        "y": 960,
        "wires": [
            [
                "c78bcabe4f6f913b"
            ]
        ]
    },
    {
        "id": "efac8720a10238d0",
        "type": "noraf-openclose",
        "z": "7d41aab9fd0b6a3e",
        "devicename": "Window Shutters",
        "roomhint": "Living Room",
        "name": "6. living - window",
        "directions": "",
        "openclosetype": "SHUTTER",
        "passthru": false,
        "errorifstateunchaged": false,
        "discrete": false,
        "lockunlock": false,
        "commandonly": false,
        "queryonly": false,
        "nora": "f1e538c1.0315f8",
        "topic": "ha-switch/switch-blinds-6/state",
        "openvalue": "true",
        "openvalueType": "bool",
        "closevalue": "false",
        "closevalueType": "bool",
        "twofactor": "off",
        "twofactorpin": "",
        "filter": true,
        "x": 1150,
        "y": 780,
        "wires": [
            [
                "dcf06f55dca5f699"
            ]
        ]
    },
    {
        "id": "6b14f65c73a0bf69",
        "type": "noraf-openclose",
        "z": "7d41aab9fd0b6a3e",
        "devicename": "Shutters",
        "roomhint": "Kitchen",
        "name": "2. kitchen window",
        "directions": "",
        "openclosetype": "SHUTTER",
        "passthru": false,
        "errorifstateunchaged": false,
        "discrete": false,
        "lockunlock": false,
        "commandonly": false,
        "queryonly": false,
        "nora": "f1e538c1.0315f8",
        "topic": "ha-switch/switch-blinds-2/state",
        "openvalue": "true",
        "openvalueType": "bool",
        "closevalue": "false",
        "closevalueType": "bool",
        "twofactor": "off",
        "twofactorpin": "",
        "filter": true,
        "x": 1150,
        "y": 840,
        "wires": [
            [
                "dcf06f55dca5f699"
            ]
        ]
    },
    {
        "id": "ba592d172f57dd43",
        "type": "noraf-openclose",
        "z": "7d41aab9fd0b6a3e",
        "devicename": "Fixed Shutters",
        "roomhint": "Kitchen",
        "name": "8. kitchen - fixed window",
        "directions": "",
        "openclosetype": "SHUTTER",
        "passthru": false,
        "errorifstateunchaged": false,
        "discrete": false,
        "lockunlock": false,
        "commandonly": false,
        "queryonly": false,
        "nora": "f1e538c1.0315f8",
        "topic": "ha-switch/switch-blinds-8/state",
        "openvalue": "true",
        "openvalueType": "bool",
        "closevalue": "false",
        "closevalueType": "bool",
        "twofactor": "off",
        "twofactorpin": "",
        "filter": true,
        "x": 1170,
        "y": 900,
        "wires": [
            [
                "dcf06f55dca5f699"
            ]
        ]
    },
    {
        "id": "6762d86fa674744b",
        "type": "noraf-light",
        "z": "7d41aab9fd0b6a3e",
        "devicename": "Light",
        "lightcolor": false,
        "brightnesscontrol": true,
        "commandonlycolor": false,
        "turnonwhenbrightnesschanges": true,
        "passthru": false,
        "errorifstateunchaged": false,
        "statepayload": true,
        "brightnessoverride": "",
        "roomhint": "Bathroom",
        "name": "5. big bedroom bathroom",
        "colortype": "hsv",
        "nora": "f1e538c1.0315f8",
        "topic": "ha-switch/switch-dimmer-5/state",
        "onvalue": "true",
        "onvalueType": "bool",
        "offvalue": "false",
        "offvalueType": "bool",
        "temperaturemin": "2700",
        "temperaturemax": "5500",
        "twofactor": "off",
        "twofactorpin": "",
        "filter": true,
        "x": 1170,
        "y": 260,
        "wires": [
            [
                "769bb33f49f1c02b"
            ]
        ]
    },
    {
        "id": "340c4ef4bedec8a6",
        "type": "link out",
        "z": "7d41aab9fd0b6a3e",
        "name": "state changed",
        "mode": "link",
        "links": [
            "1b4bb0df8c93cc89",
            "3fdd728b0585df23",
            "b3a359bc7a838527",
            "b8a5316364ec5fe8"
        ],
        "x": 905,
        "y": 60,
        "wires": []
    },
    {
        "id": "dcb6e3571adc03a9",
        "type": "mqtt in",
        "z": "7d41aab9fd0b6a3e",
        "name": "",
        "topic": "ha-switch/+/state",
        "qos": "0",
        "datatype": "json",
        "broker": "f569d34c.8c7ed",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 580,
        "y": 60,
        "wires": [
            [
                "cb6ee814173dbfcd"
            ]
        ]
    },
    {
        "id": "756f250b09605648",
        "type": "mqtt in",
        "z": "7d41aab9fd0b6a3e",
        "name": "",
        "topic": "ha-switch/+/online",
        "qos": "0",
        "datatype": "json",
        "broker": "f569d34c.8c7ed",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 590,
        "y": 120,
        "wires": [
            [
                "a0e19251ca4aaac4"
            ]
        ]
    },
    {
        "id": "a0e19251ca4aaac4",
        "type": "function",
        "z": "7d41aab9fd0b6a3e",
        "name": "set online",
        "func": "if (typeof msg.payload !== 'boolean') {\n    return;\n}\n\nconst parts = msg.topic.split('/');\nparts[parts.length - 1] = 'state';\n\nreturn {\n    payload: {\n        online: msg.payload,\n    },\n    topic: parts.join('/'),\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 120,
        "wires": [
            [
                "cb6ee814173dbfcd"
            ]
        ]
    },
    {
        "id": "d1bf6e5c3d819560",
        "type": "link in",
        "z": "7d41aab9fd0b6a3e",
        "name": "update state",
        "links": [
            "49583d9de218bf42",
            "43ff6ea09782443a",
            "bd1a7b07efa6d260"
        ],
        "x": 965,
        "y": 60,
        "wires": [
            [
                "f51b18a179ad290d"
            ]
        ]
    },
    {
        "id": "f51b18a179ad290d",
        "type": "function",
        "z": "7d41aab9fd0b6a3e",
        "name": "set state",
        "func": "return {\n    retain: true,\n    ...msg,\n    topic: `${msg.topic}/set`\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 60,
        "wires": [
            [
                "a3019ae0eb0a0e72"
            ]
        ]
    },
    {
        "id": "6af1216eb7c5c03f",
        "type": "link out",
        "z": "7d41aab9fd0b6a3e",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "6dda18477b42006d"
        ],
        "x": 905,
        "y": 200,
        "wires": []
    },
    {
        "id": "03e9def7ed68132d",
        "type": "function",
        "z": "7d41aab9fd0b6a3e",
        "name": "onoff.out",
        "func": "const m = /([^.]+)\\.(\\d+)/.exec(msg.topic);\nconst topic = m ? m[1] : msg.topic;\nconst index = m ? +m[2] : 0;\n\nconst on = [];\non[index] = msg.payload;\n\nreturn {\n    payload: {\n        on,\n    },\n    topic,\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 280,
        "wires": [
            [
                "43ff6ea09782443a"
            ]
        ]
    },
    {
        "id": "26e27a446f7b7444",
        "type": "function",
        "z": "7d41aab9fd0b6a3e",
        "name": "onoff.in",
        "func": "if (msg.topic.startsWith('ha-switch/switch-onoff-')) {\n\n    if (Array.isArray(msg.payload.on) && msg.payload.on.length > 1) {\n        //multiple states on switch\n        return [msg.payload.on.map((on, index) => ({\n            payload: {\n                ...msg.payload,\n                on,\n            },\n            topic: `${msg.topic}.${index}`\n        }))];\n    } else {\n        return {\n            payload: {\n                ...msg.payload,\n                on: msg.payload?.on?.[0] ?? msg.payload?.on,\n            },\n            topic: msg.topic,\n        };\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 160,
        "y": 280,
        "wires": [
            [
                "8093f83674525563"
            ]
        ]
    },
    {
        "id": "1b4bb0df8c93cc89",
        "type": "link in",
        "z": "7d41aab9fd0b6a3e",
        "name": "link in 3",
        "links": [
            "340c4ef4bedec8a6"
        ],
        "x": 45,
        "y": 200,
        "wires": [
            [
                "26e27a446f7b7444",
                "b18a911a13f74c55",
                "821e92a25e3b217f",
                "52cbf133f2f61326",
                "3e2d1afb89aa35ed"
            ]
        ]
    },
    {
        "id": "43ff6ea09782443a",
        "type": "link out",
        "z": "7d41aab9fd0b6a3e",
        "name": "link out 3",
        "mode": "link",
        "links": [
            "d1bf6e5c3d819560"
        ],
        "x": 515,
        "y": 200,
        "wires": []
    },
    {
        "id": "1eeea8ddfe40852e",
        "type": "noraf-light",
        "z": "7d41aab9fd0b6a3e",
        "devicename": "Light",
        "lightcolor": false,
        "brightnesscontrol": false,
        "commandonlycolor": false,
        "turnonwhenbrightnesschanges": false,
        "passthru": false,
        "errorifstateunchaged": false,
        "statepayload": true,
        "brightnessoverride": "",
        "roomhint": "Washer Room",
        "name": "9. washer room",
        "colortype": "hsv",
        "nora": "f1e538c1.0315f8",
        "topic": "ha-switch/switch-onoff-9/state",
        "onvalue": "true",
        "onvalueType": "bool",
        "offvalue": "false",
        "offvalueType": "bool",
        "temperaturemin": "2700",
        "temperaturemax": "5500",
        "twofactor": "off",
        "twofactorpin": "",
        "filter": true,
        "x": 740,
        "y": 500,
        "wires": [
            [
                "23cf6c6f6605894d"
            ]
        ]
    },
    {
        "id": "144549cc6dc7cbe7",
        "type": "noraf-light",
        "z": "7d41aab9fd0b6a3e",
        "d": true,
        "devicename": "Light",
        "lightcolor": false,
        "brightnesscontrol": false,
        "commandonlycolor": false,
        "turnonwhenbrightnesschanges": false,
        "passthru": false,
        "errorifstateunchaged": false,
        "statepayload": true,
        "brightnessoverride": "",
        "roomhint": "Guest Bathroom",
        "name": "3. bathroom - guest",
        "colortype": "hsv",
        "nora": "f1e538c1.0315f8",
        "topic": "ha-switch/switch-onoff-3/state",
        "onvalue": "true",
        "onvalueType": "bool",
        "offvalue": "false",
        "offvalueType": "bool",
        "temperaturemin": "2700",
        "temperaturemax": "5500",
        "twofactor": "off",
        "twofactorpin": "",
        "filter": true,
        "x": 750,
        "y": 560,
        "wires": [
            [
                "23cf6c6f6605894d"
            ]
        ]
    },
    {
        "id": "8714fba0422dd9f9",
        "type": "noraf-light",
        "z": "7d41aab9fd0b6a3e",
        "devicename": "Light",
        "lightcolor": false,
        "brightnesscontrol": false,
        "commandonlycolor": false,
        "turnonwhenbrightnesschanges": false,
        "passthru": false,
        "errorifstateunchaged": false,
        "statepayload": true,
        "brightnessoverride": "",
        "roomhint": "Service Room",
        "name": "1. cam. tehnica",
        "colortype": "hsv",
        "nora": "f1e538c1.0315f8",
        "topic": "ha-switch/switch-onoff-1/state",
        "onvalue": "true",
        "onvalueType": "bool",
        "offvalue": "false",
        "offvalueType": "bool",
        "temperaturemin": "2700",
        "temperaturemax": "5500",
        "twofactor": "off",
        "twofactorpin": "",
        "filter": true,
        "x": 740,
        "y": 600,
        "wires": [
            [
                "23cf6c6f6605894d"
            ]
        ]
    },
    {
        "id": "b2a67d17df0195f8",
        "type": "noraf-light",
        "z": "7d41aab9fd0b6a3e",
        "devicename": "Light",
        "lightcolor": false,
        "brightnesscontrol": true,
        "commandonlycolor": false,
        "turnonwhenbrightnesschanges": true,
        "passthru": false,
        "errorifstateunchaged": false,
        "statepayload": true,
        "brightnessoverride": "",
        "roomhint": "Main Bathroom",
        "name": "9. main bathroom",
        "colortype": "hsv",
        "nora": "f1e538c1.0315f8",
        "topic": "ha-switch/switch-dimmer-9/state",
        "onvalue": "true",
        "onvalueType": "bool",
        "offvalue": "false",
        "offvalueType": "bool",
        "temperaturemin": "2700",
        "temperaturemax": "5500",
        "twofactor": "off",
        "twofactorpin": "",
        "filter": true,
        "x": 1150,
        "y": 440,
        "wires": [
            [
                "769bb33f49f1c02b"
            ]
        ]
    },
    {
        "id": "31ccd8e9f0a2e09e",
        "type": "noraf-light",
        "z": "7d41aab9fd0b6a3e",
        "devicename": "Entrance",
        "lightcolor": false,
        "brightnesscontrol": true,
        "commandonlycolor": false,
        "turnonwhenbrightnesschanges": true,
        "passthru": false,
        "errorifstateunchaged": false,
        "statepayload": true,
        "brightnessoverride": "",
        "roomhint": "Hallway",
        "name": "10. hallway - entrance",
        "colortype": "hsv",
        "nora": "f1e538c1.0315f8",
        "topic": "ha-switch/switch-dimmer-10/state",
        "onvalue": "true",
        "onvalueType": "bool",
        "offvalue": "false",
        "offvalueType": "bool",
        "temperaturemin": "2700",
        "temperaturemax": "5500",
        "twofactor": "off",
        "twofactorpin": "",
        "filter": true,
        "x": 760,
        "y": 260,
        "wires": [
            [
                "6af1216eb7c5c03f"
            ]
        ]
    },
    {
        "id": "c78d7adf71b71c07",
        "type": "noraf-light",
        "z": "7d41aab9fd0b6a3e",
        "devicename": "Entrance",
        "lightcolor": false,
        "brightnesscontrol": false,
        "commandonlycolor": false,
        "turnonwhenbrightnesschanges": false,
        "passthru": false,
        "errorifstateunchaged": false,
        "statepayload": true,
        "brightnessoverride": "",
        "roomhint": "Outside",
        "name": "7. outside - entrance",
        "colortype": "hsv",
        "nora": "f1e538c1.0315f8",
        "topic": "ha-switch/switch-onoff-7/state",
        "onvalue": "true",
        "onvalueType": "bool",
        "offvalue": "false",
        "offvalueType": "bool",
        "temperaturemin": "2700",
        "temperaturemax": "5500",
        "twofactor": "off",
        "twofactorpin": "",
        "filter": true,
        "x": 760,
        "y": 660,
        "wires": [
            [
                "23cf6c6f6605894d"
            ]
        ]
    },
    {
        "id": "6ebdf6901c3c44a1",
        "type": "noraf-switch",
        "z": "7d41aab9fd0b6a3e",
        "devicename": "Water Pump",
        "roomhint": "Service Room",
        "name": "r1. water pump",
        "passthru": false,
        "errorifstateunchaged": false,
        "nora": "f1e538c1.0315f8",
        "topic": "ha-switch/switch-onoff-r1/state",
        "onvalue": "true",
        "onvalueType": "bool",
        "offvalue": "false",
        "offvalueType": "bool",
        "twofactor": "ack",
        "twofactorpin": "",
        "filter": true,
        "asyncCmd": false,
        "outputs": 1,
        "x": 740,
        "y": 720,
        "wires": [
            [
                "23cf6c6f6605894d"
            ]
        ]
    },
    {
        "id": "52cbf133f2f61326",
        "type": "function",
        "z": "7d41aab9fd0b6a3e",
        "name": "Clone On/Off",
        "func": "/**\n * @type Map<string, {topic:string, type:'onoff'|'offonly'}>\n */\nconst CTRL = new Map([\n    ['ha-switch/switch-dimmer-5/state', { topic: 'ha-switch/switch-onoff-4/state', type: 'onoff' }],\n    ['ha-switch/switch-dimmer-9/state', { topic: 'ha-switch/switch-onoff-6/state', type: 'onoff' }],\n    ['ha-switch/switch-onoff-5/state', { topic: 'ha-switch/switch-onoff-8/state', type: 'offonly' }],\n]);\n\nconst topic = msg.topic;\nconst to = CTRL.get(topic);\nif (!to) {\n    return;\n}\n\nlet on = msg.payload.on;\nif (Array.isArray(on) && on.length) {\n    on = on[0];\n}\nif (typeof on != 'boolean') {\n    return;\n}\n\nconst lastOn = context.get(topic);\nif (lastOn !== on) {\n    context.set(topic, on);\n\n    if (to.type === 'offonly' && on) {\n        return;\n    }\n\n    return {\n        topic: to.topic,\n        payload: {\n            on: [on],\n        },\n    };\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 200,
        "wires": [
            [
                "43ff6ea09782443a"
            ]
        ]
    },
    {
        "id": "177b7b13cf11baf0",
        "type": "noraf-light",
        "z": "7d41aab9fd0b6a3e",
        "devicename": "Light",
        "lightcolor": false,
        "brightnesscontrol": false,
        "commandonlycolor": false,
        "turnonwhenbrightnesschanges": false,
        "passthru": false,
        "errorifstateunchaged": false,
        "statepayload": true,
        "brightnessoverride": "",
        "roomhint": "Guest Room",
        "name": "2. bedroom - guest",
        "colortype": "hsv",
        "nora": "f1e538c1.0315f8",
        "topic": "ha-switch/switch-onoff-2/state",
        "onvalue": "true",
        "onvalueType": "bool",
        "offvalue": "false",
        "offvalueType": "bool",
        "temperaturemin": "2700",
        "temperaturemax": "5500",
        "twofactor": "off",
        "twofactorpin": "",
        "filter": true,
        "x": 1150,
        "y": 500,
        "wires": [
            [
                "f90095c9a660a010"
            ]
        ]
    },
    {
        "id": "cfd8480b606b454e",
        "type": "noraf-light",
        "z": "7d41aab9fd0b6a3e",
        "d": true,
        "devicename": "Light",
        "lightcolor": false,
        "brightnesscontrol": false,
        "commandonlycolor": false,
        "turnonwhenbrightnesschanges": false,
        "passthru": false,
        "errorifstateunchaged": false,
        "statepayload": true,
        "brightnessoverride": "",
        "roomhint": "Dressing",
        "name": "5. dressing",
        "colortype": "hsv",
        "nora": "f1e538c1.0315f8",
        "topic": "ha-switch/switch-onoff-5/state",
        "onvalue": "true",
        "onvalueType": "bool",
        "offvalue": "false",
        "offvalueType": "bool",
        "temperaturemin": "2700",
        "temperaturemax": "5500",
        "twofactor": "off",
        "twofactorpin": "",
        "filter": true,
        "x": 1130,
        "y": 560,
        "wires": [
            [
                "f90095c9a660a010"
            ]
        ]
    },
    {
        "id": "72228fcd02ae304f",
        "type": "noraf-light",
        "z": "7d41aab9fd0b6a3e",
        "d": true,
        "devicename": "Light",
        "lightcolor": false,
        "brightnesscontrol": false,
        "commandonlycolor": false,
        "turnonwhenbrightnesschanges": false,
        "passthru": false,
        "errorifstateunchaged": false,
        "statepayload": true,
        "brightnessoverride": "",
        "roomhint": "Dressing Mirror",
        "name": "8. dressing mirror",
        "colortype": "hsv",
        "nora": "f1e538c1.0315f8",
        "topic": "ha-switch/switch-onoff-8/state",
        "onvalue": "true",
        "onvalueType": "bool",
        "offvalue": "false",
        "offvalueType": "bool",
        "temperaturemin": "2700",
        "temperaturemax": "5500",
        "twofactor": "off",
        "twofactorpin": "",
        "filter": true,
        "x": 1150,
        "y": 600,
        "wires": [
            [
                "f90095c9a660a010"
            ]
        ]
    },
    {
        "id": "a3dbdc255ebe8243",
        "type": "noraf-openclose",
        "z": "7d41aab9fd0b6a3e",
        "devicename": "Shutters",
        "roomhint": "Guest Room",
        "name": "1. guest room",
        "directions": "",
        "openclosetype": "SHUTTER",
        "passthru": false,
        "errorifstateunchaged": false,
        "discrete": false,
        "lockunlock": false,
        "commandonly": false,
        "queryonly": false,
        "nora": "f1e538c1.0315f8",
        "topic": "ha-switch/switch-blinds-1/state",
        "openvalue": "true",
        "openvalueType": "bool",
        "closevalue": "false",
        "closevalueType": "bool",
        "twofactor": "off",
        "twofactorpin": "",
        "filter": true,
        "x": 740,
        "y": 780,
        "wires": [
            [
                "c78bcabe4f6f913b"
            ]
        ]
    },
    {
        "id": "cb6ee814173dbfcd",
        "type": "function",
        "z": "7d41aab9fd0b6a3e",
        "name": "store state",
        "func": "const value = global.get(msg.topic) || { online: true };\n\nif (Array.isArray(msg.payload.on) && msg.payload.on.length === 1) {\n    msg.payload.on = msg.payload.on[0];\n}\n\nglobal.set(msg.topic, {\n    ...value,\n    ...msg.payload,\n});\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 60,
        "wires": [
            [
                "340c4ef4bedec8a6"
            ]
        ]
    },
    {
        "id": "3013c47f8d5eef60",
        "type": "noraf-light",
        "z": "7d41aab9fd0b6a3e",
        "devicename": "Work",
        "lightcolor": false,
        "brightnesscontrol": false,
        "commandonlycolor": false,
        "turnonwhenbrightnesschanges": false,
        "passthru": false,
        "errorifstateunchaged": false,
        "statepayload": true,
        "brightnessoverride": "",
        "roomhint": "Garage",
        "name": "d1.0 - garage - work",
        "colortype": "hsv",
        "nora": "f1e538c1.0315f8",
        "topic": "ha-switch/switch-onoff-d-1/state.0",
        "onvalue": "true",
        "onvalueType": "bool",
        "offvalue": "false",
        "offvalueType": "bool",
        "temperaturemin": "2700",
        "temperaturemax": "5500",
        "twofactor": "off",
        "twofactorpin": "",
        "filter": true,
        "x": 1160,
        "y": 640,
        "wires": [
            [
                "f90095c9a660a010"
            ]
        ]
    },
    {
        "id": "53e009712f4ba5db",
        "type": "noraf-light",
        "z": "7d41aab9fd0b6a3e",
        "devicename": "Door",
        "lightcolor": false,
        "brightnesscontrol": false,
        "commandonlycolor": false,
        "turnonwhenbrightnesschanges": false,
        "passthru": false,
        "errorifstateunchaged": false,
        "statepayload": true,
        "brightnessoverride": "",
        "roomhint": "Garage",
        "name": "d1.1 - garage - door",
        "colortype": "hsv",
        "nora": "f1e538c1.0315f8",
        "topic": "ha-switch/switch-onoff-d-1/state.1",
        "onvalue": "true",
        "onvalueType": "bool",
        "offvalue": "false",
        "offvalueType": "bool",
        "temperaturemin": "2700",
        "temperaturemax": "5500",
        "twofactor": "off",
        "twofactorpin": "",
        "filter": true,
        "x": 1160,
        "y": 700,
        "wires": [
            [
                "f90095c9a660a010"
            ]
        ]
    },
    {
        "id": "2c6fd4fdcf461e64",
        "type": "noraf-openclose",
        "z": "7d41aab9fd0b6a3e",
        "devicename": "Car Gate",
        "roomhint": "Outside",
        "name": "",
        "directions": "",
        "openclosetype": "GATE",
        "passthru": false,
        "errorifstateunchaged": false,
        "discrete": true,
        "lockunlock": false,
        "commandonly": true,
        "queryonly": false,
        "nora": "f1e538c1.0315f8",
        "topic": "ha-switch/switch-car-gate/state",
        "openvalue": "true",
        "openvalueType": "bool",
        "closevalue": "false",
        "closevalueType": "bool",
        "twofactor": "ack",
        "twofactorpin": "",
        "filter": true,
        "x": 220,
        "y": 500,
        "wires": [
            [
                "6824adfe2ef43b30"
            ]
        ]
    },
    {
        "id": "4c24a422c018775f",
        "type": "noraf-openclose",
        "z": "7d41aab9fd0b6a3e",
        "devicename": "Human Gate",
        "roomhint": "Outside",
        "name": "",
        "directions": "",
        "openclosetype": "GATE",
        "passthru": false,
        "errorifstateunchaged": false,
        "discrete": true,
        "lockunlock": false,
        "commandonly": true,
        "queryonly": false,
        "nora": "f1e538c1.0315f8",
        "topic": "ha-switch/switch-human-gate/state",
        "openvalue": "true",
        "openvalueType": "bool",
        "closevalue": "false",
        "closevalueType": "bool",
        "twofactor": "ack",
        "twofactorpin": "",
        "filter": true,
        "x": 230,
        "y": 560,
        "wires": [
            [
                "6824adfe2ef43b30"
            ]
        ]
    },
    {
        "id": "b35d5cb5c64994be",
        "type": "trigger",
        "z": "7d41aab9fd0b6a3e",
        "name": "",
        "op1": "",
        "op2": "false",
        "op1type": "nul",
        "op2type": "bool",
        "duration": "5",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "topic",
        "topic": "topic",
        "outputs": 1,
        "x": 420,
        "y": 400,
        "wires": [
            [
                "5eea34281d67c83b"
            ]
        ]
    },
    {
        "id": "8775f81eb190b655",
        "type": "link out",
        "z": "7d41aab9fd0b6a3e",
        "name": "link out 9",
        "mode": "link",
        "links": [
            "3671ebcac6a33473",
            "f0c595fd2cbfab7e"
        ],
        "x": 275,
        "y": 240,
        "wires": []
    },
    {
        "id": "3671ebcac6a33473",
        "type": "link in",
        "z": "7d41aab9fd0b6a3e",
        "name": "link in 11",
        "links": [
            "8775f81eb190b655"
        ],
        "x": 575,
        "y": 200,
        "wires": [
            [
                "f648133e35429919",
                "8521a26270a7f5ed",
                "d2f287de8e2b7bdb",
                "0450c2ce91a72b78",
                "31ccd8e9f0a2e09e"
            ]
        ]
    },
    {
        "id": "f0c595fd2cbfab7e",
        "type": "link in",
        "z": "7d41aab9fd0b6a3e",
        "name": "link in 12",
        "links": [
            "8775f81eb190b655"
        ],
        "x": 985,
        "y": 200,
        "wires": [
            [
                "b7b0b4d5c552d29a",
                "6762d86fa674744b",
                "917568c1def8a578",
                "dfc52bfc266069f0",
                "b2a67d17df0195f8"
            ]
        ]
    },
    {
        "id": "769bb33f49f1c02b",
        "type": "link out",
        "z": "7d41aab9fd0b6a3e",
        "name": "link out 10",
        "mode": "link",
        "links": [
            "6dda18477b42006d"
        ],
        "x": 1305,
        "y": 200,
        "wires": []
    },
    {
        "id": "8093f83674525563",
        "type": "link out",
        "z": "7d41aab9fd0b6a3e",
        "name": "link out 11",
        "mode": "link",
        "links": [
            "6b2f234d07a39253",
            "69b6eafb0ccb804f"
        ],
        "x": 275,
        "y": 280,
        "wires": []
    },
    {
        "id": "6b2f234d07a39253",
        "type": "link in",
        "z": "7d41aab9fd0b6a3e",
        "name": "link in 13",
        "links": [
            "8093f83674525563"
        ],
        "x": 575,
        "y": 500,
        "wires": [
            [
                "1eeea8ddfe40852e",
                "144549cc6dc7cbe7",
                "8714fba0422dd9f9",
                "c78d7adf71b71c07",
                "6ebdf6901c3c44a1"
            ]
        ]
    },
    {
        "id": "69b6eafb0ccb804f",
        "type": "link in",
        "z": "7d41aab9fd0b6a3e",
        "name": "link in 14",
        "links": [
            "8093f83674525563"
        ],
        "x": 985,
        "y": 500,
        "wires": [
            [
                "177b7b13cf11baf0",
                "cfd8480b606b454e",
                "72228fcd02ae304f",
                "3013c47f8d5eef60",
                "53e009712f4ba5db"
            ]
        ]
    },
    {
        "id": "23cf6c6f6605894d",
        "type": "link out",
        "z": "7d41aab9fd0b6a3e",
        "name": "link out 12",
        "mode": "link",
        "links": [
            "f3cec6f29b539695"
        ],
        "x": 905,
        "y": 500,
        "wires": []
    },
    {
        "id": "f3cec6f29b539695",
        "type": "link in",
        "z": "7d41aab9fd0b6a3e",
        "name": "link in 15",
        "links": [
            "23cf6c6f6605894d",
            "f90095c9a660a010"
        ],
        "x": 325,
        "y": 280,
        "wires": [
            [
                "03e9def7ed68132d"
            ]
        ]
    },
    {
        "id": "f90095c9a660a010",
        "type": "link out",
        "z": "7d41aab9fd0b6a3e",
        "name": "link out 13",
        "mode": "link",
        "links": [
            "f3cec6f29b539695"
        ],
        "x": 1315,
        "y": 500,
        "wires": []
    },
    {
        "id": "c1e22f0be8354b42",
        "type": "link in",
        "z": "7d41aab9fd0b6a3e",
        "name": "link in 16",
        "links": [
            "99f8a5fa2751fc29"
        ],
        "x": 575,
        "y": 780,
        "wires": [
            [
                "645b5b8f07f055fc",
                "dc8db494b158e485",
                "7426cbb773e5162c",
                "a3dbdc255ebe8243"
            ]
        ]
    },
    {
        "id": "99f8a5fa2751fc29",
        "type": "link out",
        "z": "7d41aab9fd0b6a3e",
        "name": "link out 14",
        "mode": "link",
        "links": [
            "c1e22f0be8354b42",
            "7103c86fddd0b4c4"
        ],
        "x": 275,
        "y": 320,
        "wires": []
    },
    {
        "id": "c78bcabe4f6f913b",
        "type": "link out",
        "z": "7d41aab9fd0b6a3e",
        "name": "link out 15",
        "mode": "link",
        "links": [
            "acc065a79178bb58"
        ],
        "x": 915,
        "y": 780,
        "wires": []
    },
    {
        "id": "acc065a79178bb58",
        "type": "link in",
        "z": "7d41aab9fd0b6a3e",
        "name": "link in 17",
        "links": [
            "c78bcabe4f6f913b",
            "dcf06f55dca5f699"
        ],
        "x": 325,
        "y": 320,
        "wires": [
            [
                "8ad4a13f3069f1ac"
            ]
        ]
    },
    {
        "id": "7103c86fddd0b4c4",
        "type": "link in",
        "z": "7d41aab9fd0b6a3e",
        "name": "link in 18",
        "links": [
            "99f8a5fa2751fc29"
        ],
        "x": 985,
        "y": 780,
        "wires": [
            [
                "efac8720a10238d0",
                "6b14f65c73a0bf69",
                "ba592d172f57dd43"
            ]
        ]
    },
    {
        "id": "dcf06f55dca5f699",
        "type": "link out",
        "z": "7d41aab9fd0b6a3e",
        "name": "link out 16",
        "mode": "link",
        "links": [
            "acc065a79178bb58"
        ],
        "x": 1315,
        "y": 780,
        "wires": []
    },
    {
        "id": "3e2d1afb89aa35ed",
        "type": "function",
        "z": "7d41aab9fd0b6a3e",
        "name": "gates.in",
        "func": "const regex = /^ha-switch\\/switch-.+-gate\\/state$/\nif (regex.test(msg.topic)) {\n    return {\n        payload: {\n            online: msg.payload.online,\n        },\n        topic: msg.topic,\n    };\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 160,
        "y": 360,
        "wires": [
            [
                "cf7e8d5ba2601ea3"
            ]
        ]
    },
    {
        "id": "cf7e8d5ba2601ea3",
        "type": "link out",
        "z": "7d41aab9fd0b6a3e",
        "name": "link out 23",
        "mode": "link",
        "links": [
            "dd3deb2b19626528"
        ],
        "x": 275,
        "y": 360,
        "wires": []
    },
    {
        "id": "dd3deb2b19626528",
        "type": "link in",
        "z": "7d41aab9fd0b6a3e",
        "name": "link in 22",
        "links": [
            "5eea34281d67c83b",
            "cf7e8d5ba2601ea3"
        ],
        "x": 95,
        "y": 500,
        "wires": [
            [
                "4c24a422c018775f",
                "2c6fd4fdcf461e64"
            ]
        ]
    },
    {
        "id": "82a73fd14fe3431f",
        "type": "function",
        "z": "7d41aab9fd0b6a3e",
        "name": "gates.out",
        "func": "if (msg.payload) {\n    return {\n        payload: {\n            on: [true],\n            for: 2\n        },\n        topic: msg.topic,\n        retain: false,\n    };\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 360,
        "wires": [
            [
                "43ff6ea09782443a"
            ]
        ]
    },
    {
        "id": "6824adfe2ef43b30",
        "type": "link out",
        "z": "7d41aab9fd0b6a3e",
        "name": "link out 24",
        "mode": "link",
        "links": [
            "d330cbbb1892d1c5"
        ],
        "x": 345,
        "y": 500,
        "wires": []
    },
    {
        "id": "d330cbbb1892d1c5",
        "type": "link in",
        "z": "7d41aab9fd0b6a3e",
        "name": "link in 23",
        "links": [
            "6824adfe2ef43b30"
        ],
        "x": 325,
        "y": 360,
        "wires": [
            [
                "82a73fd14fe3431f",
                "b35d5cb5c64994be"
            ]
        ]
    },
    {
        "id": "5eea34281d67c83b",
        "type": "link out",
        "z": "7d41aab9fd0b6a3e",
        "name": "link out 25",
        "mode": "link",
        "links": [
            "dd3deb2b19626528"
        ],
        "x": 515,
        "y": 400,
        "wires": []
    },
    {
        "id": "a3019ae0eb0a0e72",
        "type": "mqtt out",
        "z": "7d41aab9fd0b6a3e",
        "name": "mqtt",
        "topic": "",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f569d34c.8c7ed",
        "x": 1190,
        "y": 60,
        "wires": []
    },
    {
        "id": "6dda18477b42006d",
        "type": "link in",
        "z": "7d41aab9fd0b6a3e",
        "name": "link in 24",
        "links": [
            "6af1216eb7c5c03f",
            "769bb33f49f1c02b"
        ],
        "x": 325,
        "y": 240,
        "wires": [
            [
                "43ff6ea09782443a"
            ]
        ]
    },
    {
        "id": "8755301a8c241477",
        "type": "mpp-input",
        "z": "d02cf25fa8114475",
        "name": "mpp general status",
        "mpp": "50383ae4cbb82921",
        "interval": "2",
        "timeout": "2",
        "query": "GeneralStatus",
        "x": 130,
        "y": 140,
        "wires": [
            [
                "ee29764d6322b235",
                "acf00a2d42111e5f",
                "af672b4bd5a4f9eb"
            ]
        ]
    },
    {
        "id": "0cb2bd44a8edc2d3",
        "type": "mpp-input",
        "z": "d02cf25fa8114475",
        "name": "mpp power status",
        "mpp": "50383ae4cbb82921",
        "interval": "2",
        "timeout": "2",
        "query": "PowerStatus",
        "x": 130,
        "y": 200,
        "wires": [
            [
                "151e85104313bf09",
                "4d5a91dbb440c2e4",
                "8012606b2ccfea72"
            ]
        ]
    },
    {
        "id": "658c70c17f292167",
        "type": "influxdb out",
        "z": "d02cf25fa8114475",
        "influxdb": "63bdbe3c09b491f2",
        "name": "",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "home",
        "bucket": "power",
        "x": 560,
        "y": 180,
        "wires": []
    },
    {
        "id": "ee29764d6322b235",
        "type": "function",
        "z": "d02cf25fa8114475",
        "name": "map",
        "func": "return [[{\n    payload: msg.payload.acInput.voltage,\n    measurement: 'ac-input-voltage',\n}, {\n    payload: msg.payload.acInput.frequency,\n    measurement: 'ac-input-freq',\n}, {\n    payload: msg.payload.acOutput.voltage,\n    measurement: 'ac-output-voltage',\n}, {\n    payload: msg.payload.acOutput.frequency,\n    measurement: 'ac-output-freq',\n}, {\n    payload: {\n        voltage: msg.payload.battery.voltage,\n        current: msg.payload.battery.current,\n        capacity: msg.payload.battery.capacity,\n    },\n    measurement: 'battery',\n}]];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 160,
        "wires": [
            [
                "658c70c17f292167"
            ]
        ]
    },
    {
        "id": "151e85104313bf09",
        "type": "function",
        "z": "d02cf25fa8114475",
        "name": "map",
        "func": "return [[{\n    payload: msg.payload.acInput.activePower,\n    measurement: 'ac-input-active-power',\n}, {\n    payload: msg.payload.acOutput.activePower,\n    measurement: 'ac-output-active-power',\n}, {\n    payload: msg.payload.acOutput.apparentPower,\n    measurement: 'ac-output-apparent-power',\n}]];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 200,
        "wires": [
            [
                "658c70c17f292167"
            ]
        ]
    },
    {
        "id": "acf00a2d42111e5f",
        "type": "function",
        "z": "d02cf25fa8114475",
        "name": "notify grid status",
        "func": "const lastPowerStatus = context.get('power_status');\nconst powerStatus = msg.payload.acInput.frequency > 45;\n\nif (powerStatus === lastPowerStatus) {\n    return;\n}\n\ncontext.set('power_status', powerStatus);\n\nnode.status({\n    fill: powerStatus ? 'blue' : 'red',\n    text: powerStatus ? 'online' : 'offline',\n});\n\nlet changes = context.get('changes');\nconst today = new Date().toLocaleDateString();\nconst key = powerStatus ? 'recovered' : 'lost';\nif (changes?.key === today) {\n    changes[key]++;\n} else {\n    changes = {\n        key: today,\n        recovered: 0,\n        lost: 0,\n        [key]: 1,\n    };\n}\nlet timeToRecover = '';\nif (!powerStatus) {\n    context.set('lostAt', new Date().getTime());\n} else {\n    const lostAt = context.get('lostAt');\n    if (typeof lostAt === 'number') {\n        let time = (new Date().getTime() - lostAt) / 1000;\n        let unit = 'sec';\n        if (time > 60) {\n            time /= 60;\n            unit = 'min';\n        }\n        if (time > 60) {\n            time /= 60;\n            unit = 'hour';\n        }\n        timeToRecover = `Recovered after ${time.toFixed(1)} ${unit}.`\n    }\n}\ncontext.set('changes', changes);\n\nconst timestamp = new Date().toLocaleString();\nconst body = `Power ${key} at ${timestamp}, (lost: ${changes.lost}, recovered: ${changes.recovered})\\n${timeToRecover}`;\n\nreturn {\n    payload: {\n        tag: 'power-status',\n        title: 'Power Status',\n        body: body,\n        silent: true,\n    },\n};\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 40,
        "wires": [
            [
                "002fbcc4b5600960"
            ]
        ]
    },
    {
        "id": "002fbcc4b5600960",
        "type": "noraf-notify",
        "z": "d02cf25fa8114475",
        "tag": "",
        "title": "",
        "body": "",
        "icon": "",
        "name": "notify",
        "nora": "f1e538c1.0315f8",
        "topic": "",
        "actions": [],
        "closeNotification": false,
        "x": 870,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "6211e9ebc3399079",
        "type": "function",
        "z": "d02cf25fa8114475",
        "name": "notify battery",
        "func": "const capacity = msg.payload;\nconst notifyAt = [10, 25, 30, 50, 80];\nconst lastNotifyAt = context.get('notify_at');\n\nif (flow.get('batteryStatus') === 'charge') {\n    if (lastNotifyAt) {\n        context.set('notify_at', null)\n    }\n    return;\n}\n\nlet i;\nfor (i = 0; i < notifyAt.length; i++) {\n    const step = notifyAt[i];\n    let threshold = step;\n    if (lastNotifyAt === step) {\n        threshold += 5;\n    }\n    if (capacity <= threshold) {\n        if (lastNotifyAt !== step) {\n            context.set('notify_at', step)\n\n            const timestamp = new Date().toLocaleString();\n            const body = `Battery capacity ${capacity}%, at ${timestamp}`;\n\n            return {\n                payload: {\n                    tag: 'battery-capacity',\n                    title: 'Battery capacity',\n                    body: body,\n                },\n            };\n        }\n\n        break;\n    }\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 100,
        "wires": [
            [
                "002fbcc4b5600960"
            ]
        ]
    },
    {
        "id": "8012606b2ccfea72",
        "type": "trigger",
        "z": "d02cf25fa8114475",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "5",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 340,
        "y": 280,
        "wires": [
            [
                "3fa4c0f648cfb1d0"
            ]
        ]
    },
    {
        "id": "3fa4c0f648cfb1d0",
        "type": "function",
        "z": "d02cf25fa8114475",
        "name": "notify inverter connection",
        "func": "const status = msg.payload ? 'restored' : 'lost';\nconst at = new Date().toLocaleString();\nlet afterText = '';\nif (!msg.payload) {\n    context.set('lost_at', new Date().getTime());\n} else {\n    let after = new Date().getTime() - context.get('lost_at');\n    let unit = 'sec';\n    after /= 1000;\n    if (after > 60) {\n        after /= 60;\n        unit = 'min';\n    }\n    if (after > 60) {\n        after /= 60;\n        unit = 'hour';\n    }\n    afterText = `, after ${after.toFixed(1)} ${unit}`\n}\n\nreturn {\n    payload: {\n        tag: \"inverter-connection\",\n        title: \"Inverter connection\",\n        body: `Inverter connection ${status} at ${at}${afterText}`,\n    }\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 280,
        "wires": [
            [
                "002fbcc4b5600960"
            ]
        ]
    },
    {
        "id": "af672b4bd5a4f9eb",
        "type": "function",
        "z": "d02cf25fa8114475",
        "name": "average",
        "func": "const capacity = msg.payload.battery.capacity;\nconst values = this.past_values ?? [];\nvalues.splice(900);\nvalues.splice(0, 0, capacity);\nthis.past_values = values;\n\nconst average = values.reduce((a, b) => a + b, 0) / values.length;\nnode.status({ fill: \"blue\", shape: \"ring\", text: `${average.toFixed(2)}%` });\n\nreturn { payload: average };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 100,
        "wires": [
            [
                "6211e9ebc3399079"
            ]
        ]
    },
    {
        "id": "4d5a91dbb440c2e4",
        "type": "function",
        "z": "d02cf25fa8114475",
        "name": "set flow.batteryStatus",
        "func": "const lastValue = flow.get('batteryStatus');\nconst newValue = msg.payload.status.batteryPowerDirectionStatus;\nif (newValue !== lastValue) {\n    flow.set('batteryStatus', newValue);\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "e6892c53b951d955",
        "type": "function",
        "z": "13aa577370e4c4d7",
        "name": "Last Message",
        "func": "const now = new Date();\nconst last = context.get(msg.topic) || {};\nconst span = last ? (now.getTime() - last.lastTick) / 1000 : null;\nconst maxSpan = last && span ? Math.max(last.maxSpan, span) : null;\n\ncontext.set(msg.topic, {\n    lastTick: now.getTime(),\n    last: now.toLocaleString(),\n    maxSpan,\n});\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 180,
        "wires": [
            [
                "a2c9d6a36b64dbb9"
            ]
        ]
    },
    {
        "id": "46c6a15226b95a40",
        "type": "mqtt in",
        "z": "13aa577370e4c4d7",
        "name": "",
        "topic": "zigbee2mqtt/temp/+",
        "qos": "2",
        "datatype": "json",
        "broker": "f569d34c.8c7ed",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 140,
        "wires": [
            [
                "e6892c53b951d955"
            ]
        ]
    },
    {
        "id": "3f2e0c17ed43535a",
        "type": "mqtt in",
        "z": "13aa577370e4c4d7",
        "name": "",
        "topic": "zigbee2mqtt/pir/+",
        "qos": "2",
        "datatype": "json",
        "broker": "f569d34c.8c7ed",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 180,
        "wires": [
            [
                "e6892c53b951d955"
            ]
        ]
    },
    {
        "id": "568b712cbc5d52ec",
        "type": "mqtt in",
        "z": "13aa577370e4c4d7",
        "name": "",
        "topic": "zigbee2mqtt/light/+",
        "qos": "2",
        "datatype": "json",
        "broker": "f569d34c.8c7ed",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 220,
        "wires": [
            [
                "e6892c53b951d955"
            ]
        ]
    },
    {
        "id": "1432e0debb3006ca",
        "type": "mqtt in",
        "z": "13aa577370e4c4d7",
        "name": "",
        "topic": "zigbee2mqtt/switch/+",
        "qos": "2",
        "datatype": "json",
        "broker": "f569d34c.8c7ed",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 260,
        "wires": [
            [
                "e6892c53b951d955"
            ]
        ]
    },
    {
        "id": "eb8c54867345d225",
        "type": "mqtt in",
        "z": "13aa577370e4c4d7",
        "name": "",
        "topic": "stat/+/+/RESULT",
        "qos": "2",
        "datatype": "json",
        "broker": "f569d34c.8c7ed",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 100,
        "wires": [
            [
                "e6892c53b951d955"
            ]
        ]
    },
    {
        "id": "532c2f5d16d7a052",
        "type": "mqtt in",
        "z": "13aa577370e4c4d7",
        "name": "",
        "topic": "zigbee2mqtt/relay/+",
        "qos": "2",
        "datatype": "json",
        "broker": "f569d34c.8c7ed",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 300,
        "wires": [
            [
                "e6892c53b951d955"
            ]
        ]
    },
    {
        "id": "684884b00c3e9fad",
        "type": "noraf-notify",
        "z": "13aa577370e4c4d7",
        "tag": "",
        "title": "??",
        "body": "??",
        "icon": "",
        "name": "Notify",
        "nora": "f1e538c1.0315f8",
        "topic": "",
        "actions": [],
        "closeNotification": false,
        "x": 730,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "a2c9d6a36b64dbb9",
        "type": "function",
        "z": "13aa577370e4c4d7",
        "name": "Battery low",
        "func": "if (msg.payload?.battery_low === true ||\n    msg.payload?.battery < 20) {\n    const now = new Date().toLocaleString();\n    const location = msg.topic.substring(msg.topic.indexOf('/') + 1);\n    return {\n        topic: location,\n        payload: {\n            tag: location,\n            title: 'Battery low',\n            body: `${location} at ${now}. Battery: ${msg.payload.battery ?? -1}. Low: ${msg.payload.battery_low}`,\n\n            //zigbee logo\n            icon: 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGAAAABgCAYAAADimHc4AAAACXBIWXMAAAsTAAALEwEAmpwYAAAI+UlEQVR4nO1de6wcZRX/KmrvnLO3KFij+H5iwDdqKkE3e87cctWiRlNiYogaXyCiNhgxxICP4ANUlEciCjZR/xAJmqJoFYLEBI1Jm9qKhtJUsNJ73T3f3tsWQUDomvPNNtDbu7uzO9/sN7OdX3L+uDf3zpzzm2++x3mNMRUqVKhQoUKFChUqVKhQIMzjzDMt0oxF+qQFutoC3SrA2y3SbgFeEKSHnQAvJL+jHQJ0i/tb5PMsNNbO1WZXh7ajNNhr1kEL4ncI0LeVaEE+aJE7WUSvkTwY/o5EjXfuMWui0HYWDgKNUwTouwLUzkp4CnlQgH8mEZ3RMeuPMUcr7jazKyWisy3Q3WMgvYfQbqnF59xj6lPmaIEaq3O6IP8rHPFHPIg5QTpfp0AzyWhB4+2CfE94wrnXenFfu0brzaRBovgEnXdDE2zTy6aFqcYLzCRAInq3AC8WgNTOUG+D6lyL32PKCt1hCPIXBemx0GTaTELX6IbBlAn7Vq09zgLdHp489vU23KE2mTKgCfVn6cGnpzHucEVz7kQLfJsAXa8nV0H+kkX+lAX6oC6Eeopt1egtekZormq85N8r+cV6Mt537GlPX05sRM/Rv2lj42T9H/3fNsZn6jUF+RJB3ihIvxl19yXAf2tPrX2eKTJ04RKgv1vgXYL8awG6wiJ9WgltTzVOVQM65pSnhNZzrja7ug3x6QLx5wVps7ozUj0EpD1SW/sKU1Toa1oEgofF4rH1pwk0zlJfU5qHUPg3ocyQKH6DRb5p0HRUmjVhOeiuogWnP7uNM69s1eJ6C3idm6aAPiJI5wrQBYL0FYv89cOFrul6Og/7va4f7n8S14ZbQ3SK0Ws7P9N040SdHnWtSKtjC+l9/XxTgvTHQu6ODtTqz2hP8Zu7C+AGAb5cgG9QhQX5Xgt8f7AdDdBFw9ii871uGHq/CXSFCYkW0Ou7o/U6RzCQDb1ltD2FvjaKjRLxGwX5kZ7XrfF7TaiRboGa4YnlgaKu7iy2CtJXe1+bF4O4LXRaKQX5SNd1jFmR/WDJB/rc5yYzTmgwoxzk88aOufhJXmxG3tj3XhGdYcaBjqk/WbdhhScf+AbV1Zfduqsa8Kb9YyzhThfsLjz5dKNP8h8PJPGDA+69weQJ3fdapL2hCbb9R+Jm3/tz9exaoJ+kuP98rm9BC+KPFnzk3+I7vqsLuEX6fmodIjrb5/0PVwT4rtAk214CdLvvmG5CPn9vOF1od9Zd17LQY31wkrHHqEP6kxx/6rRvmy3SpaPoo1z51kW3YT8MTbRdfsRty8Mx1u/wNXhA8LXG+w6g/0EkzMgH3r5/mo/PgfwvZ9OL9ntdjNtAbwtNtl0qQDs1+mY8wwJd6EM/9fB6UyqJbBWJfN6lqS7GMzR65+/tpG/5UwxoZ3DSsWsY8r0LU/HzjWcksYjsycCPC23zopgGMfwqlon8+zRAbzzDAn3Yt42ajqMe4+zKufz88ORbdX3X6CTjGRo4EqRHc9I7zqygAH0uNPkCLBq+NJ6hmW+C/L/83lg6N7uSQ58EvZO/0AJ+nfEMifhdfSNdXnT3ELJU51Y48mm/jehNxjN0W502FyjbG8C/zaxsMN8/8P2azOWF8SfagzFb5P+OZwDx9swK98sKyE/oAUFqGM/QBzrOrAwN0mRWWoD2jZN8QXpYpwjjGTaK14zbnaKbh8yK571Q2SXkez3Cd9GEmdeOqQBwidBDmZUfx2JlkwXrES0jNZ6xgPGrQuUrqU2ZDRjHyBGkRzUV0HhGa5pfrmHCEOQ7u4D2ZTbCpRPmTL4gv994Rms6flmYDcQTheYyGyJAf82PfD6ocWbjGeqsK0I1ppdtqOu9UCLybVR/rsZlQ5PflZuzG5Skg3sn34ufZAk05T1s5f0Rdv7AZIWr2/L+atIFJoeyIwG+MzTp3hO1BqXkDS1AF5ocSows8tYCEL7kDfBwmncjy1ewYsgCiSHI31I88vmgt2yNfmWnQ5B/sfGMeTODFvgPocle9gEA7fBmqDY7Khr5e806sEC/D0107wfAl3szVl0ERSJ/j1kTpSkpDSnaGcarwSN5RXMgv2PWP9Ui/TI0wQNG/4LqGTY1MR/yjylD2xvvqYkK3VKFJ5+uD01uGmnVGm/1bb/RWqs0R3xtUZPLvYF/HJrYVKMf+M5c0tMVUuNPDFTAczOLjjEr9JUOTewQD+BjJmSJkqb4eS4KuSo0qemF9uZeqKfdBfuPALrR171s0guiU5rRn1d50tIDUD9fu4bh1CuZ9T6CfEloQocSoJ3et54ZDmaXZbm+BbooOKEhD16pSELe1O8tGDWRVgqQizpInH1Jyv7Nzk0DjQ+ZMO3JerejdKHM42ZXhY492JEIdp0e57ud2n/VLVA5rw0821xVf6nvIvCs2cU9XdUazmyurtfSXKu5ul4TaHxWp6/uqXtTNxy6RfvQCdI/Xct6J7Q/RYNu97cuMJ9EybZok0B1YwjQT5PmT/xN7RtngT+gyWBNaLxG169SNfVOUb60VbsZhtZzsrugA9/R/yHQAxb4C6Xus2YSR+DiypkXaR3wAtKrTVGgxKbLoqb/CPLPLdJnXJ84bJxclI7lWujtesvV4tO0C1Z3PbpM/U/aDUwPWYe6AOvaMEz/ubFAWzlqS8eRFj6gpiD/Wedm9/WMpOXx+Zq2cqgBn/ahSz70cLjobkunOHWB6M8uAxo5PtQIUOd3dQ9oIoBF/ob2fXDNppJ4wlZdW4ZKVwfelUd5rBc4EkZ9CFh8UdsWV9ZfaErQqn77xJEPtKM0DVvdmuDmzYkZ+ZvzaAYyht1RwSrscQQBurowB6+RqxHdgah0xDdVdzMJULfFoH7Mtljyi4n8AJy2dtTCteKOer5rIj/ic0RCFfKGgjX/m5eIPl7quX6kRboWnxM2l5+26SFNUxzN0YqOMStcm3nka8dREtu9x4/0ZB3a9sJhj1kTqQuh6474i68vMCV1A3Sp5jaV8QsfwXBAO7QjzSQfdeArBfh3+mC6n65tJyW09JAFaqmPxsUOtLcF8FU6p6tjrXBOswoVKlSoUKFChQoVKpijHf8HpXkJmmVvB/kAAAAASUVORK5CYII='\n        },\n    };\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 240,
        "wires": [
            [
                "6ac061a53b0101c8"
            ]
        ]
    },
    {
        "id": "6ac061a53b0101c8",
        "type": "trigger",
        "z": "13aa577370e4c4d7",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "nul",
        "duration": "24",
        "extend": false,
        "overrideDelay": false,
        "units": "hr",
        "reset": "",
        "bytopic": "topic",
        "topic": "topic",
        "outputs": 1,
        "x": 570,
        "y": 240,
        "wires": [
            [
                "684884b00c3e9fad"
            ]
        ]
    },
    {
        "id": "3f3c88e152b83b07",
        "type": "mqtt in",
        "z": "13aa577370e4c4d7",
        "name": "",
        "topic": "ha-switch/+/reset-reason",
        "qos": "0",
        "datatype": "utf8",
        "broker": "f569d34c.8c7ed",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 380,
        "wires": [
            [
                "344c6d12cc3b6df2"
            ]
        ]
    },
    {
        "id": "344c6d12cc3b6df2",
        "type": "function",
        "z": "13aa577370e4c4d7",
        "name": "notify reason",
        "func": "const RESET_CAUSE = {\n    '0': 'NO_MEAN',\n    '1': 'POWERON',\n    '3': 'SW',\n    '4': 'OWDT',\n    '5': 'DEEPSLEEP',\n    '6': 'SDIO',\n    '7': 'TG0WDT_SYS',\n    '8': 'TG1WDT_SYS',\n    '9': 'RTCWDT_SYS',\n    '10': 'INTRUSION',\n    '11': 'TGWDT_CPU',\n    '12': 'SW_CPU',\n    '13': 'RTCWDT_CPU',\n    '14': 'EXT_CPU',\n    '15': 'RTCWDT_BROWN_OUT',\n    '16': 'RTCWDT_RTC',\n};\n\nconst reason = msg.payload;\nconst name = msg.topic.split('/')[1];\nconst last = context.get('last5min') || {};\nconst now = new Date().getTime();\n\nfor (const key of Object.keys(last)) {\n    const delta = (now - last[key].at) / 1000;\n    if (delta > 60) {\n        delete last[key];\n    }\n}\n\nlast[name] = { at: now, reason: RESET_CAUSE[reason] ?? 'unknown' };\ncontext.set('last5min', last);\n\nconst names = Object.keys(last).map(k => `${k}-${last[k].reason}`).join(', ');\nconst nowString = new Date().toLocaleString();\nnode.send({\n    payload: {\n        tag: `devices-reset`,\n        title: 'Device(s) reset',\n        body: `${names}`,\n        silent: true,\n    },\n});\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 380,
        "wires": [
            [
                "a24cb7686bd98421"
            ]
        ]
    },
    {
        "id": "a24cb7686bd98421",
        "type": "trigger",
        "z": "13aa577370e4c4d7",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "payl",
        "duration": "30",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "topic",
        "topic": "payload.tag",
        "outputs": 1,
        "x": 530,
        "y": 380,
        "wires": [
            [
                "684884b00c3e9fad"
            ]
        ]
    },
    {
        "id": "dee09762f6285202",
        "type": "mqtt in",
        "z": "13aa577370e4c4d7",
        "name": "",
        "topic": "zigbee2mqtt/leak/+",
        "qos": "2",
        "datatype": "json",
        "broker": "f569d34c.8c7ed",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 580,
        "wires": [
            [
                "52228e2e95e8936e",
                "dae1ee13dce83183"
            ]
        ]
    },
    {
        "id": "52228e2e95e8936e",
        "type": "function",
        "z": "13aa577370e4c4d7",
        "name": "leak?",
        "func": "const WAIT_SEC = 20;\nconst ON = {\n    payload: { on: true },\n    topic: 'ha-switch/switch-onoff-r1/state/set',\n};\nconst OFF = {\n    payload: { on: false },\n    topic: ON.topic,\n};\n\nif (msg.payload === 'cancel') {\n    this.timer = null;\n    clearTimeout(this.timer);\n    return;\n}\n\nif (msg.payload === 'start-water') {\n    node.send([, ON]);\n    return;\n}\n\nif (!msg.payload.water_leak || this.timer) {\n    return;\n}\n\nconst time = new Date().toLocaleString();\nconst parts = msg.topic.split('/');\nconst location = parts[parts.length - 1];\n\nconst base = {\n    tag: `water-leak`,\n    title: 'Water Leak',\n    body: `Water leak detected at ${time} - ${location}.`,\n};\n\nthis.timer = setTimeout(() => {\n    this.timer = null;\n    node.send([{\n        payload: {\n            ...base,\n            body: `${base.body} Stopped the water.`,\n            actions: [{\n                title: 'Start',\n                action: 'start-water'\n            }],\n        },\n    }, OFF]);\n}, WAIT_SEC * 1000);\n\nreturn {\n    payload: {\n        ...base,\n        body: `${base.body} Stopping the water in ${WAIT_SEC} sec.`,\n        actions: [{\n            title: 'Cancel',\n            action: 'cancel'\n        }],\n    },\n};\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 580,
        "wires": [
            [
                "c37574baa8bb8ddf"
            ],
            [
                "d02926676f707fa2"
            ]
        ]
    },
    {
        "id": "de7e3a91aee2a01f",
        "type": "mqtt in",
        "z": "13aa577370e4c4d7",
        "name": "",
        "topic": "zigbee2mqtt/leak/+",
        "qos": "2",
        "datatype": "json",
        "broker": "f569d34c.8c7ed",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 60,
        "wires": [
            [
                "e6892c53b951d955"
            ]
        ]
    },
    {
        "id": "c3038920732427fa",
        "type": "mqtt in",
        "z": "13aa577370e4c4d7",
        "name": "",
        "topic": "zigbee2mqtt/contact/+",
        "qos": "2",
        "datatype": "json",
        "broker": "f569d34c.8c7ed",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 20,
        "wires": [
            [
                "e6892c53b951d955"
            ]
        ]
    },
    {
        "id": "609e08d7c9241c77",
        "type": "mqtt in",
        "z": "13aa577370e4c4d7",
        "name": "",
        "topic": "zigbee2mqtt/test/+",
        "qos": "2",
        "datatype": "json",
        "broker": "f569d34c.8c7ed",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 710,
        "y": 80,
        "wires": [
            [
                "ae821d7f2c3e2ba0"
            ]
        ]
    },
    {
        "id": "ae821d7f2c3e2ba0",
        "type": "function",
        "z": "13aa577370e4c4d7",
        "name": "store",
        "func": "const ctx = context.get(msg.topic) || {};\n\nif (msg.payload.occupancy != ctx.occupancy) {\n    ctx.occupancy = msg.payload.occupancy;\n    ctx.changes = (ctx.changes ?? 0) + 1;\n}\n\nctx.last = new Date().toString();\ncontext.set(msg.topic, ctx);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "c37574baa8bb8ddf",
        "type": "noraf-notify",
        "z": "13aa577370e4c4d7",
        "tag": "",
        "title": "??",
        "body": "??",
        "icon": "",
        "name": "Notify",
        "nora": "f1e538c1.0315f8",
        "topic": "",
        "actions": [],
        "closeNotification": false,
        "x": 350,
        "y": 500,
        "wires": [
            [
                "52228e2e95e8936e"
            ]
        ]
    },
    {
        "id": "d02926676f707fa2",
        "type": "mqtt out",
        "z": "13aa577370e4c4d7",
        "name": "",
        "topic": "",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f569d34c.8c7ed",
        "x": 530,
        "y": 580,
        "wires": []
    },
    {
        "id": "dae1ee13dce83183",
        "type": "function",
        "z": "13aa577370e4c4d7",
        "name": "map",
        "func": "const valueName = msg.topic.split('/').slice(-1)[0];\nif (typeof msg.payload.water_leak !== 'boolean') {\n    return;\n}\n\nreturn {\n    payload: { [valueName]: msg.payload.water_leak ? 1 : 0 },\n    measurement: 'water-leak',\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 640,
        "wires": [
            [
                "92c831e50bcd68a1"
            ]
        ]
    },
    {
        "id": "92c831e50bcd68a1",
        "type": "influxdb out",
        "z": "13aa577370e4c4d7",
        "influxdb": "63bdbe3c09b491f2",
        "name": "",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "home",
        "bucket": "home",
        "x": 620,
        "y": 640,
        "wires": []
    },
    {
        "id": "f08cfee748e21645",
        "type": "function",
        "z": "536b0e9eda614fd2",
        "name": "Map",
        "func": "let name = msg.topic.substring(msg.topic.indexOf('/') + 1);\n\nconst PREFIX = '/RESULT';\nif (name.endsWith(PREFIX)) {\n    name = name.substring(0, name.length - PREFIX.length);\n}\n\nconst previousPayload = global.get(name) ?? {};\nconst payload = {\n    ...previousPayload,\n    ...v('temperature'),\n    ...v('humidity'),\n    ...v('state', 'on', p => p === 'ON'),\n    ...v('POWER', 'on', p => p === 'ON'),\n    ...v('Dimmer', 'brightness'),\n    ...v('occupancy'),\n    online: msg.payload?.online ?? true,\n};\nglobal.set(name, payload);\n\nreturn {\n    payload,\n    topic: msg.topic,\n};\n\n/**\n* @param {string} input\n* @param {string} output\n* @param {(a:any)=>any} transform\n* @returns {Record<string, *>}\n*/\nfunction v(input, output = input, transform = x => x) {\n    if (input in msg.payload) {\n        return {\n            [output]: transform(msg.payload[input])\n        };\n    }\n    return {};\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 190,
        "y": 240,
        "wires": [
            [
                "38687e0ac546600f"
            ]
        ]
    },
    {
        "id": "38687e0ac546600f",
        "type": "noraf-switch",
        "z": "536b0e9eda614fd2",
        "devicename": "Warm Water Pump",
        "roomhint": "Service Room",
        "name": "",
        "passthru": false,
        "errorifstateunchaged": false,
        "nora": "f1e538c1.0315f8",
        "topic": "zigbee2mqtt/relay/water-pump",
        "onvalue": "true",
        "onvalueType": "bool",
        "offvalue": "false",
        "offvalueType": "bool",
        "twofactor": "ack",
        "twofactorpin": "",
        "filter": true,
        "asyncCmd": false,
        "outputs": 1,
        "x": 370,
        "y": 240,
        "wires": [
            [
                "7d559a43a7ec6440"
            ]
        ]
    },
    {
        "id": "7d559a43a7ec6440",
        "type": "function",
        "z": "536b0e9eda614fd2",
        "name": "Map",
        "func": "return {\n    payload: {\n        state: msg.payload ? 'ON' : 'OFF',\n    },\n    topic: msg.topic + '/set',\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 240,
        "wires": [
            [
                "b02b6ceb7687e947"
            ]
        ]
    },
    {
        "id": "b02b6ceb7687e947",
        "type": "mqtt out",
        "z": "536b0e9eda614fd2",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f569d34c.8c7ed",
        "x": 790,
        "y": 240,
        "wires": []
    },
    {
        "id": "857f019fa5ad8be5",
        "type": "switch",
        "z": "536b0e9eda614fd2",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": ".+\\/relay\\/.+",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": ".+\\/temp\\/.+",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": ".+\\/pir\\/.+",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 570,
        "y": 120,
        "wires": [
            [
                "9cf17a33d6369750"
            ],
            [
                "591e4bb345a80b08"
            ],
            [
                "2e643a135c0bc68a"
            ]
        ]
    },
    {
        "id": "9cf17a33d6369750",
        "type": "trigger",
        "z": "536b0e9eda614fd2",
        "name": "",
        "op1": "",
        "op2": "{\"online\": false}",
        "op1type": "nul",
        "op2type": "json",
        "duration": "20",
        "extend": true,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "topic",
        "topic": "topic",
        "outputs": 1,
        "x": 730,
        "y": 60,
        "wires": [
            [
                "18ee405180e7ef0d"
            ]
        ]
    },
    {
        "id": "591e4bb345a80b08",
        "type": "trigger",
        "z": "536b0e9eda614fd2",
        "name": "",
        "op1": "",
        "op2": "{\"online\": false}",
        "op1type": "nul",
        "op2type": "json",
        "duration": "2.2",
        "extend": true,
        "overrideDelay": false,
        "units": "hr",
        "reset": "",
        "bytopic": "topic",
        "topic": "topic",
        "outputs": 1,
        "x": 730,
        "y": 120,
        "wires": [
            [
                "18ee405180e7ef0d"
            ]
        ]
    },
    {
        "id": "e1a0476c7e29f306",
        "type": "cronplus",
        "z": "536b0e9eda614fd2",
        "name": "water pump",
        "outputField": "payload",
        "timeZone": "",
        "persistDynamic": false,
        "commandResponseMsgOutput": "output1",
        "outputs": 1,
        "options": [
            {
                "name": "turn on",
                "topic": "zigbee2mqtt/relay/water-pump/set",
                "payloadType": "str",
                "payload": "ON",
                "expressionType": "cron",
                "expression": "0 0 7 ? * * *",
                "location": "",
                "offset": "0",
                "solarType": "all",
                "solarEvents": "sunrise,sunset"
            },
            {
                "name": "turn off",
                "topic": "zigbee2mqtt/relay/water-pump/set",
                "payloadType": "str",
                "payload": "OFF",
                "expressionType": "cron",
                "expression": "0 0 22 ? * * *",
                "location": "",
                "offset": "0",
                "solarType": "all",
                "solarEvents": "sunrise,sunset"
            }
        ],
        "x": 130,
        "y": 500,
        "wires": [
            [
                "b6cc3dcb19c105e1"
            ]
        ]
    },
    {
        "id": "b6cc3dcb19c105e1",
        "type": "mqtt out",
        "z": "536b0e9eda614fd2",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f569d34c.8c7ed",
        "x": 350,
        "y": 500,
        "wires": []
    },
    {
        "id": "5174cbdc84c9deb9",
        "type": "mqtt in",
        "z": "536b0e9eda614fd2",
        "name": "",
        "topic": "zigbee2mqtt/pir/+",
        "qos": "2",
        "datatype": "json",
        "broker": "f569d34c.8c7ed",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 80,
        "wires": [
            [
                "59a6f1a86fee64bb"
            ]
        ]
    },
    {
        "id": "c77921bad91a3fd4",
        "type": "mqtt in",
        "z": "536b0e9eda614fd2",
        "name": "",
        "topic": "zigbee2mqtt/temp/+",
        "qos": "2",
        "datatype": "json",
        "broker": "f569d34c.8c7ed",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 40,
        "wires": [
            [
                "59a6f1a86fee64bb"
            ]
        ]
    },
    {
        "id": "9e54c33578b35bbc",
        "type": "mqtt in",
        "z": "536b0e9eda614fd2",
        "name": "",
        "topic": "zigbee2mqtt/relay/+",
        "qos": "2",
        "datatype": "json",
        "broker": "f569d34c.8c7ed",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 120,
        "wires": [
            [
                "59a6f1a86fee64bb"
            ]
        ]
    },
    {
        "id": "32d650ad5f529b41",
        "type": "mqtt in",
        "z": "536b0e9eda614fd2",
        "name": "",
        "topic": "zigbee2mqtt/light/+",
        "qos": "2",
        "datatype": "json",
        "broker": "f569d34c.8c7ed",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 160,
        "wires": [
            [
                "59a6f1a86fee64bb"
            ]
        ]
    },
    {
        "id": "8d660f4ac3640160",
        "type": "link in",
        "z": "536b0e9eda614fd2",
        "name": "link in 6",
        "links": [
            "59a6f1a86fee64bb"
        ],
        "x": 455,
        "y": 120,
        "wires": [
            [
                "857f019fa5ad8be5"
            ]
        ]
    },
    {
        "id": "59a6f1a86fee64bb",
        "type": "link out",
        "z": "536b0e9eda614fd2",
        "name": "z2mqtt",
        "mode": "link",
        "links": [
            "8d660f4ac3640160",
            "556407976cf82dd1"
        ],
        "x": 315,
        "y": 40,
        "wires": []
    },
    {
        "id": "556407976cf82dd1",
        "type": "link in",
        "z": "536b0e9eda614fd2",
        "name": "link in 7",
        "links": [
            "59a6f1a86fee64bb",
            "18ee405180e7ef0d"
        ],
        "x": 75,
        "y": 240,
        "wires": [
            [
                "f08cfee748e21645"
            ]
        ]
    },
    {
        "id": "18ee405180e7ef0d",
        "type": "link out",
        "z": "536b0e9eda614fd2",
        "name": "z2mqtt",
        "mode": "link",
        "links": [
            "556407976cf82dd1"
        ],
        "x": 855,
        "y": 100,
        "wires": []
    },
    {
        "id": "2e643a135c0bc68a",
        "type": "trigger",
        "z": "536b0e9eda614fd2",
        "name": "",
        "op1": "",
        "op2": "{\"online\": false}",
        "op1type": "nul",
        "op2type": "json",
        "duration": "1.5",
        "extend": true,
        "overrideDelay": false,
        "units": "hr",
        "reset": "",
        "bytopic": "topic",
        "topic": "topic",
        "outputs": 1,
        "x": 730,
        "y": 180,
        "wires": [
            [
                "18ee405180e7ef0d"
            ]
        ]
    },
    {
        "id": "dfca40dd7aa881e6",
        "type": "mqtt in",
        "z": "05e865126427c1f9",
        "name": "",
        "topic": "zigbee2mqtt/pir/+",
        "qos": "2",
        "datatype": "json",
        "broker": "f569d34c.8c7ed",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 220,
        "wires": [
            [
                "a0bf8cda615f1687",
                "8ab75f8eee4ef8d5"
            ]
        ]
    },
    {
        "id": "a0bf8cda615f1687",
        "type": "function",
        "z": "05e865126427c1f9",
        "name": "when motion",
        "func": "if (!flow.get('auto_light')) {\n    return;\n}\n\n/**\n * @type Array<{\n *  src:Array<string>, \n *  target:string, \n *  timeoutMin: number, \n *  turn:'on'|'off'\n * }>\n */\nconst targetByPir = [\n    {\n        src: ['pir/hallway-1', 'pir/hallway-2'],\n        target: 'switch-dimmer-3',\n        timeoutMin: 1,\n        turn: 'on',\n    }, {\n        src: ['pir/hallway-3', 'contact/entrance'],\n        target: 'switch-dimmer-10',\n        timeoutMin: 3,\n        turn: 'on',\n    }, {\n        src: ['pir/small-bathroom'],\n        target: 'switch-onoff-3',\n        timeoutMin: 15,\n        turn: 'off',\n    }\n]\n\nconst name = msg.topic.split('/').slice(1).join('/');\nconst found = targetByPir.find(t => t.src.includes(name));\nif (!found) {\n    return;\n}\n\nconst p = msg.payload;\nif (found.turn === 'on') {\n    if (p.occupancy || p.contact === false) {\n        return {\n            payload: {\n                'brightness': 100,\n                'for': found.timeoutMin * 60,\n            },\n            topic: `ha-switch/${found.target}/state/set`,\n        };\n    }\n} else if (found.turn === 'off') {\n    if (p.occupancy) {\n        return [, {\n            payload: {\n                on: false\n            },\n            delay: found.timeoutMin * 60 * 1000,\n            topic: `ha-switch/${found.target}/state/set`,\n        }];\n    }\n}\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 100,
        "wires": [
            [
                "05ebecdb8b80ec34"
            ],
            [
                "4d1c7f5bb7516b99"
            ]
        ],
        "outputLabels": [
            "battery low",
            ""
        ]
    },
    {
        "id": "05ebecdb8b80ec34",
        "type": "mqtt out",
        "z": "05e865126427c1f9",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f569d34c.8c7ed",
        "x": 790,
        "y": 100,
        "wires": []
    },
    {
        "id": "bbbdecb1cda7db5e",
        "type": "noraf-doorbell",
        "z": "05e865126427c1f9",
        "devicename": "Doorbell",
        "roomhint": "",
        "name": "",
        "nora": "f1e538c1.0315f8",
        "topic": "",
        "filter": false,
        "x": 600,
        "y": 400,
        "wires": []
    },
    {
        "id": "7dc0804a1cdeba54",
        "type": "inject",
        "z": "05e865126427c1f9",
        "name": "\"Alice\" is at the doorbell",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"named\":[\"Alice\"]}",
        "payloadType": "json",
        "x": 280,
        "y": 360,
        "wires": [
            [
                "bbbdecb1cda7db5e"
            ]
        ]
    },
    {
        "id": "1b08bca9fd2551e9",
        "type": "inject",
        "z": "05e865126427c1f9",
        "name": "someone's at the doorbell (unclassified)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"unclassified\":1}",
        "payloadType": "json",
        "x": 330,
        "y": 440,
        "wires": [
            [
                "bbbdecb1cda7db5e"
            ]
        ]
    },
    {
        "id": "71629549d9fd9dc9",
        "type": "inject",
        "z": "05e865126427c1f9",
        "name": "someone you know is at the doorbell",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"familiar\":1}",
        "payloadType": "json",
        "x": 320,
        "y": 400,
        "wires": [
            [
                "bbbdecb1cda7db5e"
            ]
        ]
    },
    {
        "id": "aeeedb84a9e88d39",
        "type": "inject",
        "z": "05e865126427c1f9",
        "name": "someone's at the doorbell (unfamiliar)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"unfamiliar\":1}",
        "payloadType": "json",
        "x": 330,
        "y": 480,
        "wires": [
            [
                "bbbdecb1cda7db5e"
            ]
        ]
    },
    {
        "id": "54e506afd7d7a753",
        "type": "mqtt in",
        "z": "05e865126427c1f9",
        "name": "",
        "topic": "zigbee2mqtt/contact/+",
        "qos": "2",
        "datatype": "json",
        "broker": "f569d34c.8c7ed",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 100,
        "wires": [
            [
                "a0bf8cda615f1687",
                "d445960ecb358d5a"
            ]
        ]
    },
    {
        "id": "5363e241ad979a02",
        "type": "noraf-switch",
        "z": "05e865126427c1f9",
        "devicename": "Auto light",
        "roomhint": "Service Room",
        "name": "",
        "passthru": false,
        "errorifstateunchaged": false,
        "nora": "f1e538c1.0315f8",
        "topic": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "offvalue": "false",
        "offvalueType": "bool",
        "twofactor": "ack",
        "twofactorpin": "",
        "filter": false,
        "asyncCmd": false,
        "outputs": 1,
        "x": 220,
        "y": 280,
        "wires": [
            [
                "54830d2c3b73bb4b"
            ]
        ]
    },
    {
        "id": "54830d2c3b73bb4b",
        "type": "change",
        "z": "05e865126427c1f9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "auto_light",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "6615d0e84e2ff43a",
        "type": "influxdb out",
        "z": "05e865126427c1f9",
        "influxdb": "63bdbe3c09b491f2",
        "name": "",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "home",
        "bucket": "home",
        "x": 620,
        "y": 200,
        "wires": []
    },
    {
        "id": "8ab75f8eee4ef8d5",
        "type": "function",
        "z": "05e865126427c1f9",
        "name": "map",
        "func": "const valueName = msg.topic.split('/').slice(-1)[0];\nif (typeof msg.payload.occupancy !== 'boolean') {\n    return;\n}\n\nreturn {\n    payload: { [valueName]: msg.payload.occupancy ? 1 : 0 },\n    measurement: 'occupancy',\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 220,
        "wires": [
            [
                "6615d0e84e2ff43a"
            ]
        ]
    },
    {
        "id": "d445960ecb358d5a",
        "type": "function",
        "z": "05e865126427c1f9",
        "name": "map",
        "func": "const valueName = msg.topic.split('/').slice(-1)[0];\nif (typeof msg.payload.contact !== 'boolean') {\n    return;\n}\n\nreturn {\n    payload: { [valueName]: msg.payload.contact ? 1 : 0 },\n    measurement: 'contact',\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 180,
        "wires": [
            [
                "6615d0e84e2ff43a"
            ]
        ]
    },
    {
        "id": "4d1c7f5bb7516b99",
        "type": "trigger",
        "z": "05e865126427c1f9",
        "name": "wait for delay",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "payl",
        "duration": "1",
        "extend": true,
        "overrideDelay": true,
        "units": "min",
        "reset": "",
        "bytopic": "topic",
        "topic": "topic",
        "outputs": 1,
        "x": 650,
        "y": 140,
        "wires": [
            [
                "05ebecdb8b80ec34"
            ]
        ]
    },
    {
        "id": "244c26807bc68f0e",
        "type": "sunrise",
        "z": "67e1c6f6bd2fab57",
        "name": "",
        "lat": "45.977066",
        "lon": "21.316671",
        "start": "dawn",
        "end": "sunset",
        "soff": "0",
        "eoff": "0",
        "x": 250,
        "y": 120,
        "wires": [
            [
                "4c7198dcb8cd0684"
            ],
            []
        ]
    },
    {
        "id": "4c7198dcb8cd0684",
        "type": "function",
        "z": "67e1c6f6bd2fab57",
        "name": "outside light on/off",
        "func": "if (!msg.payload) {\n    context.set('light_on', true);\n    turn(true);\n} else if (context.get('light_on')) {\n    context.set('light_on', false);\n    turn(false);\n}\n\n/**\n * @param {boolean} on\n */\nfunction turn(on) {\n    node.send([[\n        {\n            payload: { on },\n            topic: 'ha-switch/switch-dimmer-11/state/set',\n            retain: true,\n        },\n        {\n            payload: { on: [on] },\n            topic: 'ha-switch/switch-onoff-7/state/set',\n            retain: true,\n        },\n        {\n            topic: 'zigbee2mqtt-garage/light/outside/set',\n            payload: { state: on ? 'ON' : 'OFF' },\n        },\n        ...getDeckMessages(on),\n    ]]);\n}\n\nfunction getDeckMessages(on) {\n    const deckBase = 'cmnd/tasmota_0F10CB/';\n    const deckDimmer = `${deckBase}/Dimmer`;\n    const deckPower = `${deckBase}/Power`;\n    return on\n        ? [{\n            topic: deckPower,\n            payload: 'ON',\n        }, {\n            topic: deckDimmer,\n            payload: 15,\n        }]\n        : [{\n            topic: deckPower,\n            payload: 'OFF',\n        }];\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 120,
        "wires": [
            [
                "bdccd9d28e3a0e9a"
            ]
        ]
    },
    {
        "id": "bdccd9d28e3a0e9a",
        "type": "mqtt out",
        "z": "67e1c6f6bd2fab57",
        "name": "",
        "topic": "",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f569d34c.8c7ed",
        "x": 670,
        "y": 120,
        "wires": []
    },
    {
        "id": "0d243166fa4cb451",
        "type": "function",
        "z": "67e1c6f6bd2fab57",
        "name": "open/close blinds",
        "func": "\n/** @type Array<{id: number, open?:number, close?: number, openLater?: number}> */\nconst BLINDS = [\n    { id: 1, open: 15, openLater: 100, close: 0 }, // guest\n    { id: 2, open: 100, close: 0 }, // kitchen-window\n    { id: 8, open: 15, close: 0 }, // kitchen-fixed\n    { id: 3, /*open: 15, openLater: 100,*/ close: 0 }, // big bedroom\n    { id: 4, open: 100 }, // living-door\n    { id: 6, open: 15, openLater: 40, close: 0 }, // living-window\n    { id: 5, open: 100, close: 0 }, // office\n];\n\nconst KEY = 'blindsLastCommand';\n\n/** @type {'open'|'close'|'openLater'} */\n\nif (!msg.payload) {\n    blinds('close');\n} else {\n    const now = new Date();\n    const minTimeToOpenBlinds = new Date();\n    minTimeToOpenBlinds.setHours(7, 30, 0);\n\n    const openLaterTime = new Date();\n    openLaterTime.setHours(8, 30, 0);\n\n    if (now >= minTimeToOpenBlinds && now < openLaterTime) {\n        blinds('open');\n    } else if (now >= openLaterTime) {\n        blinds('openLater');\n    }\n}\n\n/** @param {'open'|'close'|'openLater'} type */\nfunction blinds(type) {\n    const last = context.get(KEY);\n    if (type === last) {\n        return;\n    }\n    context.set(KEY, type);\n\n    if (type.startsWith('open') &&\n        !flow.get('autoOpenBlinds')) {\n        return;\n    }\n\n    const msgs = BLINDS\n        .map(b => {\n            const stateTopic = `ha-switch/switch-blinds-${b.id}/state`;\n            const currentState = global.get(stateTopic);\n\n            const openPercent = b[type];\n            if (typeof openPercent !== 'number') {\n                return;\n            }\n\n            if (currentState) {\n                switch (type) {\n                    case 'open':\n                    case 'openLater':\n                        if (openPercent <= currentState.openPercent) {\n                            return;\n                        }\n                        break;\n                    case 'close':\n                        if (openPercent >= currentState.openPercent) {\n                            //blinds are already more closed\n                            return;\n                        }\n                        break;\n                }\n            }\n\n            return {\n                payload: { openPercent },\n                topic: `${stateTopic}/set`,\n                retain: true,\n            };\n        })\n        .filter(m => !!m);\n    node.send([msgs]);\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 180,
        "wires": [
            [
                "11e1c771398804b4"
            ]
        ]
    },
    {
        "id": "11e1c771398804b4",
        "type": "mqtt out",
        "z": "67e1c6f6bd2fab57",
        "name": "",
        "topic": "",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f569d34c.8c7ed",
        "x": 670,
        "y": 180,
        "wires": []
    },
    {
        "id": "4929a74e2d6431e1",
        "type": "sunrise",
        "z": "67e1c6f6bd2fab57",
        "name": "",
        "lat": "45.977066",
        "lon": "21.316671",
        "start": "sunrise",
        "end": "sunset",
        "soff": "-15",
        "eoff": "0",
        "x": 250,
        "y": 180,
        "wires": [
            [
                "0d243166fa4cb451"
            ],
            []
        ]
    },
    {
        "id": "d2abff84dd6c4311",
        "type": "noraf-switch",
        "z": "67e1c6f6bd2fab57",
        "devicename": "Auto Open Blinds",
        "roomhint": "Service Room",
        "name": "",
        "passthru": false,
        "errorifstateunchaged": false,
        "nora": "f1e538c1.0315f8",
        "topic": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "offvalue": "false",
        "offvalueType": "bool",
        "twofactor": "ack",
        "twofactorpin": "",
        "filter": false,
        "asyncCmd": false,
        "outputs": 1,
        "x": 450,
        "y": 260,
        "wires": [
            [
                "1d90fcaf445ae7bc"
            ]
        ]
    },
    {
        "id": "1d90fcaf445ae7bc",
        "type": "change",
        "z": "67e1c6f6bd2fab57",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "autoOpenBlinds",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "c0db6845e0edacfa",
        "type": "mqtt in",
        "z": "86c7bfe22f048e9c",
        "name": "",
        "topic": "stat/+/RESULT",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f569d34c.8c7ed",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 80,
        "wires": [
            [
                "0a7858e8806c0752",
                "527b1b616ecc0448"
            ]
        ]
    },
    {
        "id": "0a7858e8806c0752",
        "type": "function",
        "z": "86c7bfe22f048e9c",
        "name": "map",
        "func": "const start = msg.topic.indexOf('/') + 1;\nconst deviceName = msg.topic.substring(start, msg.topic.lastIndexOf('/'));\n\nlet state = flow.get(deviceName) ?? {};\nstate = {\n    ...state,\n    ...('POWER' in msg.payload ? { on: msg.payload.POWER == 'ON' } : {}),\n    ...('Dimmer' in msg.payload ? { brightness: msg.payload.Dimmer } : {}),\n    online: 'online' in msg.payload ? msg.payload.online : true,\n};\nflow.set(deviceName, state);\n\nreturn {\n    payload: state,\n    topic: deviceName,\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 80,
        "wires": [
            [
                "31a7614427673b14"
            ]
        ]
    },
    {
        "id": "07e1d3f3b09b4c2f",
        "type": "mqtt out",
        "z": "86c7bfe22f048e9c",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f569d34c.8c7ed",
        "x": 430,
        "y": 240,
        "wires": []
    },
    {
        "id": "724ffcb347b98a4b",
        "type": "function",
        "z": "86c7bfe22f048e9c",
        "name": "map",
        "func": "const deviceName = msg.topic;\nconst state = flow.get(deviceName);\n\nconst messages = [{\n    payload: msg.payload.on ? 'ON' : 'OFF',\n    topic: `cmnd/${deviceName}/Power`,\n}];\n\nif (msg.payload.brightness !== state?.brightness) {\n    messages.push({\n        payload: msg.payload.brightness,\n        topic: `cmnd/${deviceName}/Dimmer`,\n    });\n}\n\nreturn [messages];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 80,
        "wires": [
            [
                "0c205481e356f2f9"
            ]
        ]
    },
    {
        "id": "cd5adb8fd6a89364",
        "type": "inject",
        "z": "86c7bfe22f048e9c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "cmnd/tasmota_0F10CB/Dimmer",
        "payload": "",
        "payloadType": "str",
        "x": 200,
        "y": 220,
        "wires": [
            [
                "07e1d3f3b09b4c2f"
            ]
        ]
    },
    {
        "id": "72d29178a2ee85d1",
        "type": "inject",
        "z": "86c7bfe22f048e9c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "cmnd/tasmota_0F10CB/Power",
        "payload": "",
        "payloadType": "str",
        "x": 190,
        "y": 260,
        "wires": [
            [
                "07e1d3f3b09b4c2f"
            ]
        ]
    },
    {
        "id": "527b1b616ecc0448",
        "type": "trigger",
        "z": "86c7bfe22f048e9c",
        "name": "",
        "op1": "",
        "op2": "{\"online\": false}",
        "op1type": "nul",
        "op2type": "json",
        "duration": "2",
        "extend": true,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 190,
        "y": 140,
        "wires": [
            [
                "0a7858e8806c0752"
            ]
        ]
    },
    {
        "id": "31a7614427673b14",
        "type": "noraf-light",
        "z": "86c7bfe22f048e9c",
        "devicename": "Deck Light",
        "lightcolor": false,
        "brightnesscontrol": true,
        "commandonlycolor": false,
        "turnonwhenbrightnesschanges": false,
        "passthru": false,
        "errorifstateunchaged": false,
        "statepayload": true,
        "brightnessoverride": "",
        "roomhint": "Outside",
        "name": "",
        "colortype": "hsv",
        "nora": "f1e538c1.0315f8",
        "topic": "tasmota_0F10CB",
        "onvalue": "true",
        "onvalueType": "bool",
        "offvalue": "false",
        "offvalueType": "bool",
        "temperaturemin": "2700",
        "temperaturemax": "5500",
        "twofactor": "off",
        "twofactorpin": "",
        "filter": true,
        "x": 490,
        "y": 80,
        "wires": [
            [
                "724ffcb347b98a4b"
            ]
        ]
    },
    {
        "id": "0c205481e356f2f9",
        "type": "mqtt out",
        "z": "86c7bfe22f048e9c",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f569d34c.8c7ed",
        "x": 790,
        "y": 80,
        "wires": []
    },
    {
        "id": "0cd4f1385c4acbae",
        "type": "inject",
        "z": "4289ddd18011b400",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "cmnd/outlet/t3/pulsetime",
        "payload": "116",
        "payloadType": "str",
        "x": 180,
        "y": 100,
        "wires": [
            [
                "b7e4826693fc3fbc"
            ]
        ]
    },
    {
        "id": "b7e4826693fc3fbc",
        "type": "mqtt out",
        "z": "4289ddd18011b400",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f569d34c.8c7ed",
        "x": 690,
        "y": 100,
        "wires": []
    },
    {
        "id": "ffdb7ab8e24caa3a",
        "type": "inject",
        "z": "4289ddd18011b400",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "cmnd/outlet/t3/pulsetime",
        "payload": "off",
        "payloadType": "str",
        "x": 180,
        "y": 140,
        "wires": [
            [
                "b7e4826693fc3fbc"
            ]
        ]
    },
    {
        "id": "c53989ecfa9c42d2",
        "type": "mqtt in",
        "z": "4289ddd18011b400",
        "name": "",
        "topic": "stat/outlet/t3/RESULT",
        "qos": "2",
        "datatype": "json",
        "broker": "f569d34c.8c7ed",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 200,
        "wires": [
            [
                "a32c1a618f7c8359"
            ]
        ]
    },
    {
        "id": "a32c1a618f7c8359",
        "type": "function",
        "z": "4289ddd18011b400",
        "name": "when turned on, turn off after a few seconds",
        "func": "const prev = context.get('prev');\nconst powerOn = msg.payload.POWER === 'ON';\ncontext.set('prev', powerOn);\n\nif (powerOn && powerOn !== prev) {\n    let topic = msg.topic.split('/');\n    topic = topic.slice(1, topic.length - 1);\n    setTimeout(() => {\n        node.send({\n            payload: 'off',\n            topic: ['cmnd', ...topic, 'power'].join('/'),\n        });\n    }, 17000);\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 200,
        "wires": [
            [
                "3910ecc79e784aa4"
            ]
        ]
    },
    {
        "id": "3910ecc79e784aa4",
        "type": "mqtt out",
        "z": "4289ddd18011b400",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f569d34c.8c7ed",
        "x": 710,
        "y": 200,
        "wires": []
    },
    {
        "id": "5cc7e798047cd148",
        "type": "inject",
        "z": "4289ddd18011b400",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "31 07 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "cmnd/outlet/t3/power",
        "payload": "on",
        "payloadType": "str",
        "x": 180,
        "y": 60,
        "wires": [
            [
                "8750afb90a9573ae"
            ]
        ]
    },
    {
        "id": "8750afb90a9573ae",
        "type": "function",
        "z": "4289ddd18011b400",
        "name": "if auto feed dog is turned on",
        "func": "if (flow.get('auto-feed-dog')) {\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 60,
        "wires": [
            [
                "b7e4826693fc3fbc"
            ]
        ]
    },
    {
        "id": "7826b59e484d0344",
        "type": "noraf-outlet",
        "z": "4289ddd18011b400",
        "devicename": "Auto Feed Dog",
        "roomhint": "Outside",
        "name": "",
        "passthru": false,
        "errorifstateunchaged": true,
        "nora": "f1e538c1.0315f8",
        "topic": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "offvalue": "false",
        "offvalueType": "bool",
        "twofactor": "ack",
        "twofactorpin": "",
        "filter": false,
        "asyncCmd": false,
        "outputs": 1,
        "x": 420,
        "y": 280,
        "wires": [
            [
                "8b09f3d5fe4676da"
            ]
        ]
    },
    {
        "id": "8b09f3d5fe4676da",
        "type": "change",
        "z": "4289ddd18011b400",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "auto-feed-dog",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 280,
        "wires": [
            []
        ]
    }
]